/* reset */
html,
body {
  width: 100%;
  height: 100%;
}

body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
button,
input {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
input,
button {
  font-size: 12px;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #767676;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

body {
  margin: 0;
  font: 20px "Roboto", "Nanum Gothic";
  color: #000;
  overflow-x: hidden;
  background-color: #141414;
}

#skip_nav a {
  position: absolute;
  top: -99999px;
  color: #ffff;
  background: red;
}

#skip_nav a:focus {
  top: 0;
}

/*layout*/
#header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #141414;
  z-index: 1000;
  /*border-bottom: 1px solid #ccc;*/
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#home {
  background: #141414;
  font-size: 15px;
}

#about_me {
  background: #141414;
  margin-top: 50px;
}

#about_me .inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#container {
  margin: 0 auto;
  max-width: 1200px;
}

#footer {
  font-size: 13px;
  background-color: #141414;
}

/*header*/
#header h1 {
  position: absolute;
  left: 50%;
  margin-left: -580px;
  top: 9px;
}

#header h1 a {
  text-decoration: none;
}

#header #gnb {
  position: absolute;
  right: 50%;
  top: 27px;
  margin-right: -110px;
}

#header #gnb li {
  float: left;
  font-size: 15px;
  margin-left: 20px;
}

#header #gnb2 {
  position: absolute;
  right: 50%;
  top: 27px;
  margin-right: -580px;
}

#header #gnb2 li {
  float: left;
  margin-left: 10px;
  font-size: 13px;
}
#header #gnb2 li a {
  color:#767676;
}

#header #gnb2 li:first-child a {
  color: #E50914;
}

#header #gnb li:nth-child(2) a {
  color: #E50914;
  font-weight: bold;
}

/*home*/
#home h1 {
  text-align: center;
}

#home .nav:after {
  content: "";
  display: block;
  clear: both;
}

#home .nav {
  position: relative;
  left: 50%;
  margin-left: -135px;
  margin-top: 15px;
  margin-bottom: 100px;
}

#home ul li {
  float: left;
  margin-left: 20px;
}

#home .nav li a {
  color:#767676;
}

#home .nav li:first-child a {
  color: #E50914;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  #home .nav {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .lottieCat {
    display: none;
  }
}

/*container*/
#container .box {
  width: 210px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  background: #ccc;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#container .first {
  border: 0;
  width: 1px;
  height: 0;
  margin: 0;
  padding: 0;
}

.box {
  overflow: hidden;
}

.box img {
  transition: 0.5s;
}

.box:hover>img {
  transform: scale(1.2, 1.2);
}

.pop {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #141414;
  z-index: 1000;
  overflow-y: auto;
}

.pop .det {
  text-align: center;
  padding-top: 150px;
  margin: 0 auto;
  width: 960px;
  height: 1500px;
  color: #d5d5d5;
  background: #141414;
  word-break: keep-all;
}
.pop .det img {
  margin:0 auto;
}

.pop h2 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  padding-left: 15px;
  padding-top: 10px;
}

.pop .dc {
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background: red;
}

.pop h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  padding-top: 40px;
}

.pop h4 {
  display: block;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  padding-top: 15px;
}

.pop p {
  text-align: center;
  padding-bottom: 25px;
}

.pop .p1 {
  border-bottom: 1px solid #fff;
}

.pop .p2 {
  font-size: 14px;
  padding-top: 20px;
  font-family: "Nanum+Gothic";
  line-height: 25px;
}

.pop .p3 {
  font-size: 15px;
  padding-top: 10px;
  font-weight: 300;
  color: red;
}

/* view 버튼 */
.viewBt {
  transition: 0.5s;
  margin: 0 auto;
  top: 0px;
  margin-bottom: 30px;
  width: 250px;
  height: 45px;
  border: 1px solid #fff;
  color:#fff;
  border-radius: 30px 30px;
}

.viewBt:hover {
  background: #fff;
}

.viewBt a {
  display: block;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 20px;
}

.viewBt:hover a {
  color: #141414;
}

.close {
  position: fixed;
  right: 100px;
  top: 45px;
}
.close::before {
  content:"\f00d";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 18px;
    color:#fff;
    font-size: 45px;
}

/*갤러리*/

.gall {
  position: relative;
}

.gall .bkbox {
  transition: 0.5s;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  width: 210px;
  height: 100%;
  background: #000;
}

.gall p {
  position: absolute;
  top: -100px;
  left: 0;
  width: 210px;
  transition: 0.5s;
  text-align: center;
  color: yellow;
  line-height: 30px;
}

.gall span {
  color: #fff;
}

.gall:hover p {
  top: 50%;
  transform: translate(0, -50%);
}

.gall:hover .bkbox {
  opacity: 0.8;
}

.mm {
  cursor: pointer;
}

.pop {
  cursor: auto;
}

/* .m_cont {display: none;} */

/*프로필*/
#about_me .slogan {
  font-weight: 300;
  color:#E50914;
  border-bottom: 1px solid #767676;
  padding-bottom: 5px;
}

#about_me .slogan span {
  font-weight: 500;
  font-size: 30px;
}

#about_me .frame {
  overflow: hidden;
  width: 242px;
  height: 321px;
  z-index: 500;
  cursor: pointer;
}

#about_me .frame img {
  width: 100%;
}

#about_me .inner:after {
  content: "";
  display: block;
  clear: both;
}

#about_me .frame .name {
  color: #fff;
  font-size: 25px;
  line-height: 321px;
  text-align: center;
}
.profilBox {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-block: 80px;
}

#about_me .profile_group dl {
  display: flex;
  line-height: 2.2;
}

#about_me .profile_group dt {
  font-weight: 500;
  font-size: 15px;
  color:#E50914;
  width:100px;
}

#about_me .profile_group dd {
  font-weight: 300;
  font-size: 15px;
  color:#767676;
}

.profile_group_tablet {
  display: none;
}

#about_me .pro_img {
  transition: 1s;
}

#about_me .frame:hover .pro_img {
  opacity: 1;
}

/*footer*/
#footer .f_logo {
  position: relative;
  left: 50%;
  margin-left: -160px;
  bottom: 107px;
  display: inline-block;
}

#footer .copy {
  position: relative;
  left: 50%;
  margin-left: -100px;
  padding-block: 30px;
  z-index: 1000;
  display: inline-block;
  color:#767676;
}

.wellcome {
  animation: cursor 0.5s ease infinite;
  display: inline-block;
  padding-right: 5px;
  transform: translate(13px, -63px);
  font-size: 34px;
  color: #E50914;
  border-right: 2px solid #E50914;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.imgBox {
  position: relative;
  overflow: hidden;
  transition: .4s;
}

.imgBox:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(190 18 60 / var(--tw-bg-opacity, 1));
  position: absolute;
  left: 0;
  top: 0;
  transition: all 2s;
  transition-delay: all .4s;
  z-index: 2;
}

.imgBox:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
  position: absolute;
  left: 0;
  top: 0;
  transition: all .4s;
  z-index: 3;
}

.imgBox.active:before {
  left: 100%;
}

.imgBox.active:after {
  left: 100%;
}

.imgBox.left.active:before {
  left: -100%;
}

.imgBox.left.active:after {
  left: -100%;
}
@media (max-width:770px) {
  #header {display: none;}
}