<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>밸런스게임 이벤트 | KT멤버십</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="./css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- ===== app ====== -->
    <div id="app">
        <!-- ===== balance-event ====== -->
        <div class="balanceGame ptevent">
            <div class="event-con">
                <div class="close display">
                    <img src="images/balance_close.png" alt="닫기 버튼">
                </div>
                <!-- 메인 -->
                <div class="main step1">
                    <button class="early_pop">조기종료 팝업 버튼</button>
                    <div class="main_balance">
                        <h1><img src="images/main_h1.png" alt="달달혜택"></h1>
                        <h2>
                            <img src="images/main_h2.png" alt="국가서비스 대상 KT멤버십 수상 기념 멤버십 취향 밸런스 게임하고 100% 경품 받자">
                        </h2>
                        <a href="#a" class="step1Btn">
                            <img src="images/main_btn.png" alt="참여하기">
                        </a>
                    </div>
                    <div class="cont">
                        <img src="images/main_cont.jpg" alt="">
                        <div class="blind">
                            참여 대상 KT멤버십 전 등급 고객
                            참여 기간 2026. 7.3(금) ~ 7.14(화)
                            쿠폰 경품 게임 참여 완료 시 쿠폰함에 발급 (쿠폰 사용기간: 7.31(금)까지)
                            호텔 숙박권 추첨 발표 2026. 7.20(월) *KT멤버십 앱 당첨 발표 및 개별 연락
                            *프로모션은 회사와 제휴사의 사정으로 변경되거나 조기 종료될 수 있습니다.
                            풀만 앰배서더 서울 이스트폴 디럭스 1박 숙박권
                            올리브영, 다이소 2천원권
                            배민 상품권
                            롯데시네마 예매권 1+1 쿠폰
                        </div>
                    </div>
                    <div style="position:relative;">
                        <img src="./images/end_entry.jpg" alt="
                            KT멤버십 매 달 선보이는 달콤한 혜택.
                            달.달. 혜택.
                            7월 15일 오픈 예정.
                            더욱 달콤한 혜택을 준비중입니다.
                            " />
                        <div class="btn" style="position:absolute; left:8%; top:34%; width:46.8750vw;">
                        </div>
                    </div>
                    <div>
                        <a href="#"><img src="./images/ban.jpg" alt="지난 혜택 보러가기 달달혜택 6월" /></a>
                    </div>
                </div>
                <!--// 메인 -->

                <!-- 질문1 -->
                <div class="balance ques ques01 step2 display">
                    <div class="num">
                        <img src="images/step_num_01.png" alt="첫번째 질문">
                    </div>
                    <h1>내가 원하는 <br> 멤버십 혜택은?</h1>
                    <div class="qwBtn">
                        <a href="#a">
                            <p>
                                일상 속 자주 이용하는
                                <strong>할인 혜택</strong>
                                <span>(베이커리, 카페 등)</span>
                            </p>
                        </a>
                        <a href="#a">
                            <p>
                                특별한 경험을 제공하는
                                <strong>초대 이벤트</strong>
                                <span>(페스티벌, 강연, 시가회 등)</span>
                            </p>
                        </a>
                    </div>
                    <a href="#a" class="stepBtn_A step2Btn">
                        <img src="images/step2Btn.png" alt="다음 질문">
                    </a>
                </div>
                <!--// 질문1 -->

                <!-- 질문2 -->
                <div class="balance ques ques02 step3 display">
                    <div class="num">
                        <img src="images/step_num_02.png" alt="두번째 질문">
                    </div>
                    <h1>멤버십 혜택으로 받고싶은 <br> 커피/맛집 취향은?</h1>
                    <div class="qwBtn">
                        <a href="#a">
                            <p>
                                전국 어디서나 <br>
                                이용할 수 있는 <br>
                                <strong>프랜차이즈 브랜드 할인</strong>
                            </p>
                        </a>
                        <a href="#a">
                            <p>
                                여기서만 즐길 수 있어요! <br>
                                감성과 맛 모두 놓칠 수 없는 <br>
                                <strong>핫플레이스 할인</strong>
                            </p>
                        </a>
                    </div>
                    <a href="#a" class="stepBtn_A step3Btn">
                        <img src="images/step2Btn.png" alt="다음 질문">
                    </a>
                </div>
                <!--// 질문2 -->

                <!-- 질문3 -->
                <div class="balance ques ques03 step4 display">
                    <div class="num">
                        <img src="images/step_num_03.png" alt="세번째 질문">
                    </div>
                    <h1>내가 더 끌리는 <br> 할인 방식은?</h1>
                    <div class="qwBtn">
                        <a href="#a">
                            <p>
                                매일 손쉽게 이용하는
                                <strong>10% 상시할인</strong>
                            </p>
                        </a>
                        <a href="#a">
                            <p>
                                특정 기간에만 쓸 수 있는
                                <strong>파격적인 50% 할인</strong>
                            </p>
                        </a>
                    </div>
                    <a href="#a" class="stepBtn_A step4Btn">
                        <img src="images/step2Btn.png" alt="다음 질문">
                    </a>
                </div>
                <!--// 질문3 -->

                <!-- 질문4 -->
                <div class="balance ques ques04 step5 display">
                    <div class="num">
                        <img src="images/step_num_04.png" alt="네번째 질문">
                    </div>
                    <h1>이 브랜드, 이런 멤버십 혜택이 <br>있으면 좋겠다!</h1>
                    <div class="txtBox">
                        <textarea id="answer" maxlength="100"
                            placeholder="원하는 제휴사, 멤버십 혜택을&#13;&#10;자유롭게 작성해 주세요. (100자 이내)"></textarea>
                        <span class="char-count"><span id="charNum">0</span>/100</span>
                    </div>
                    <a href="#a" class="stepBtn_A step5Btn">
                        <img src="images/compleBtn.png" alt="완료">
                    </a>
                </div>
                <!--// 질문4 -->

                <!-- 개인정보 수집 -->
                <div class="balance Privacy step6 display">
                    <h1>
                        개인정보 수집 및 이용에 동의해 주세요. <br>
                        동의하신 분에 한해<br>
                        이벤트 추첨이 진행됩니다.
                    </h1>
                    <div class="regForm">
                        <div class="rows-itm mt-10">
                            <div style="display:flex; justify-content: space-between;">
                                <label for="name" class="form-hd">이름</label>
                                <label><input type="checkbox" id="myInfo" />내 정보 불러오기</label>
                            </div>
                            <div class="form-bd">
                                <input type="text" class="inp" id="name" placeholder="예) 홍길동" />
                            </div>
                        </div>
                        <div class="rows-itm">
                            <label for="phone" class="form-hd">휴대폰 번호</label>
                            <div class="form-bd" id="hp_input">
                                <input type="text" class="inp" id="phone" inputmode="numeric" maxlength="11"
                                    placeholder="예) 01012345678" />
                            </div>
                            <div class="form-select" id="hp_select" style="display: none">
                                <div class="select-type select">
                                    <button type="button" class="bt">선택하세요</button>
                                    <ul>
                                        <li><a href="javascript:;">010-****-2585</a></li>
                                        <li><a href="javascript:;">010-****-2585</a></li>
                                        <li><a href="javascript:;">010-****-2585</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="noti">
                        <dl>
                            <dt>1. 수집 목적</dt>
                            <dd>설문조사 응답자 경품 보상</dd>
                        </dl>
                        <dl>
                            <dt>2. 수집 항목</dt>
                            <dd>이름, 휴대폰 번호</dd>
                        </dl>
                        <dl>
                            <dt>3. 보유 및 이용 기간</dt>
                            <dd>입력일로부터 1년까지</dd>
                        </dl>
                    </div>
                    <a href="#a" class="step6Btn">
                        <img src="images/prBtn.png" alt="개인정보 수집 및 이용에 동의합니다.">
                    </a>
                </div>
                <!--// 개인정보 수집 -->

                <!-- 뽑기 -->
                <div class="balance Gacha step7 display">
                    <div class="clawMachine">
                        <div class="star">
                            <div class="star01">
                                <img src="images/star01.png" alt="">
                            </div>
                            <div class="star02">
                                <img src="images/star02.png" alt="">
                            </div>
                            <div class="star03">
                                <img src="images/star03.png" alt="">
                            </div>
                            <div class="star04">
                                <img src="images/star04.png" alt="">
                            </div>
                            <div class="star05">
                                <img src="images/star05.png" alt="">
                            </div>
                        </div>
                        <div class="claw">
                            <img src="images/claw.png" alt="뽑기 집게">
                        </div>
                        <div class="toys">
                            <div class="toy daiso">
                                <img src="images/daiso.png" alt="">
                            </div>
                            <div class="toy compose">
                                <img src="images/compose.png" alt="">
                            </div>
                            <div class="toy olive">
                                <img src="images/olive.png" alt="">
                            </div>
                            <div class="toy gs">
                                <img src="images/gs.png" alt="">
                            </div>
                            <div class="toy hotel">
                                <img src="images/hotel.png" alt="">
                            </div>
                            <div class="toy papa">
                                <img src="images/papa.png" alt="파파존스 피자">
                            </div>
                        </div>
                    </div>
                    <a href="#a" class="stepBtn_A step7Btn">
                        <img src="images/game_btn.png" alt="경품 뽑기">
                    </a>
                </div>
                <!--// 뽑기 -->

                <!-- 경품 -->
                <div class="balance prize display">
                    <h2>
                        <img src="images/prize_tit.png" alt="경품">
                    </h2>
                    <div class="thumb compose"></div>
                    <p>컴포즈 커피 1잔</p>
                    <div class="issue">
                        <h3>
                            <img src="images/coupon_date.png" alt="사용 기간">
                        </h3>
                        <p>2026.07.31</p>
                        <h3>
                            <img src="images/coupon_iss.png" alt="쿠폰 방급">
                        </h3>
                        <p>KT 멤버십 앱 쿠폰함으로 발급</p>
                    </div>
                    <div class="btnGroup">
                        <a href="#a" class="couponBtn">
                            <img src="images/prize_btn01.png" alt="쿠폰함 확인">
                        </a>
                        <a href="#a" class="gameCloseBtn">
                            <img src="images/prize_btn02.png" alt="게임 종료">
                        </a>
                    </div>
                </div>
                <!--// 경품 -->

                <!-- 미완료 팝업 -->
                <div class="complete display">
                    <div class="pop">
                        <h1>
                            답변을 완료하고 <br> 경품뽑기에 <br> 참여해주세요!
                        </h1>
                        <h2>게임 진행 중 화면을 종료할 경우, <br> 처음부터 다시 참여해야 합니다.</h2>
                        <div class="compleBtn">
                            <a href="#a" class="again">
                                <img src="images/comple_btn01.png" alt="계속 참여하기">
                            </a>
                            <a href="#a" class="closeBtn">
                                <img src="images/comple_btn02.png" alt="종료하기">
                            </a>
                        </div>
                    </div>
                </div>
                <!--// 미완료 팝업 -->

                <!-- 조기종료 팝업 -->
                <div class="early display">
                    <div class="pop">
                        <p>본 프로모션은 <br> 성원에 힘입어 <br> 조기 종료되었습니다.</p>
                        <p>참여하신 고객님의 경품은 <br> 쿠폰함에서 확인 가능합니다.</p>
                    </div>
                </div>
                <!--// 조기종료 팝업 -->

                <!-- dim 배경 -->
                <div class="dim display"></div>
            </div>
        </div>
    </div>
    <!-- ===== /app ====== -->

    <script>
        $(function () {
            $('.early_pop').click(function () {
                $('.event-con .close').removeClass('display');
                $('.early, .dim').removeClass('display');
            })

            $('.step1Btn').click(function () {
                $('.event-con > .close').removeClass('display')
            })
            $('.event-con > .close').click(function () {
                if (!$('.early').hasClass('display')) {
                    $('.event-con > .close, .early, .dim').addClass('display');
                } else {
                    $('.complete').removeClass('display');
                    $('.event-con > .close').addClass('display')
                    $('.dim').removeClass('display');
                }
            })
            const steps = [
                { btn: '.step1Btn', current: '.step1', next: '.step2' },
                { btn: '.step2Btn', current: '.step2', next: '.step3' },
                { btn: '.step3Btn', current: '.step3', next: '.step4' },
                { btn: '.step4Btn', current: '.step4', next: '.step5' },
                { btn: '.step5Btn', current: '.step5', next: '.step6' },
                { btn: '.step6Btn', current: '.step6', next: '.step7' },
                { btn: '.step7Btn', current: '.step7', next: '.prize' }
            ];

            steps.forEach(step => {
                $(step.btn).on('click', function (e) {
                    e.preventDefault();
                    $(step.current).addClass('display');
                    $(step.next).removeClass('display');
                });
            });
            $('.step7Btn').click(function (e) {
                e.preventDefault();
                $('.event-con > .close').addClass('display')
            })
            $('.step5Btn, .closeBtn').click(function(e){
                e.preventDefault();
                $('.step5 textarea').val('');
            })

            $('.closeBtn, .gameCloseBtn').on('click', function (e) {
                e.preventDefault();
                $('.step2, .step3, .step4, .step5, .step6, .step7, .prize, .complete').addClass('display');
                $('.step1').removeClass('display');
            });

            $('.complete a:not(.closeBtn)').on('click', function (e) {
                e.preventDefault();
                $('.complete').addClass('display');
                $('.dim').addClass('display')
            });
            $('.complete .closeBtn').click(function (e) {
                e.preventDefault();
                $('.event-con > .close').addClass('display')
                $('.dim').addClass('display')
            })
            $('.complete a.again').click(function (e) {
                e.preventDefault();
                $('.event-con > .close').removeClass('display')
            })
            // 질문1, 2, 3 선택지 active 클래스 추가
            $('.qwBtn a').on('click', function (e) {
                e.preventDefault();
                $(this).siblings('a').removeClass('active');
                $(this).addClass('active');
            });

            // 글자수 체크
            $('#answer').on('input', function () {
                const currentLength = $(this).val().length;
                $('#charNum').text(currentLength);
            });


            // 개인정보
            $(".btn").on("click", function () {
                $(".inner").scrollTop(0);
            });
            $("#myInfo").on("change", function () {
                if ($(this).is(":checked")) {
                    $("#hp_input").hide();
                    $("#hp_select").show();
                    $("#hp_input2").show();
                } else {
                    $("#hp_input").show();
                    $("#hp_select").hide();
                    $("#hp_input2").hide();
                    $("#name").val("").attr("disabled", false);
                }
            });
            $(".select-type").on("click", ".bt", function () {
                $(this).next().not($(this).next()).slideUp("fast").parent().removeClass("active");
                $(this).parent().toggleClass("active");
                $(this).next().slideToggle("fast");
                return false;
            });
            // li 클릭 처리
            $(".select-type").on("click", "ul > li > a", function () {
                $(this).parent().addClass("active");
                $(this).parent().parent().siblings().text($(this).text()).addClass("on");
                $(this).parent().parent().parent().removeClass("active");
                $(this).parent().parent().slideUp(0);
                $(this).parent().siblings().removeClass("active");
            });

            // 임시
            // $(".step1Btn").trigger("click");
            // $(".step2Btn").trigger("click");
            // $(".step3Btn").trigger("click");
            // $(".step4Btn").trigger("click");
            // $(".step5Btn").trigger("click");
            // $(".step6Btn").trigger("click");
            // $(".step7Btn").trigger("click");
        });
    </script>
</body>

</html>