<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, mimum-scale=1.0,maximum-scale=1.0">
    <title>CLOUD A LA MODE</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>
    <script src="js/splitting.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrap">
        <!-- header -->
         <header>
            <div class="inner">
                <a href="#a" class="gnbBtn">
                    <span class="a"></span>
                    <span class="b"></span>
                </a>
                <a href="#a" class="logo">CLOUD A LA MODE</a>
                <a href="#a" class="contact">contact</a>
            </div>
            <nav class="gnb">
                <ul>
                    <li><a href="#">CLOUD<span> Made</span></a></li>
                    <li><a href="#">CLOUD<span> Ready</span></a></li>
                    <li><a href="#">CLOUD<span> Design</span></a></li>
                    <li><a href="#">CLOUD<span> Source</span></a></li>
                </ul>
            </nav>
         </header>
         <!-- contents -->
          <div class="contents">
            <section class="visual">
                <video class="sky" autoplay muted loop playsinline>
                    <source src="img/sky.mp4">
                </video>
                    <!-- playsinline : play버튼 눌렀을 때 풀화면으로 전체모드 되는것을 막기위함 -->
                     <h2 class="title animate" data-animate="motion" data-splitting>CLOUD A LA MODE</h2>
            </section>
            <section class="about">
                <div class="inner">
                    <div class="text animate" data-animate="motion" data-splitting>
                        <h2 class="title">about us</h2>
                        <p>
                            The apparel & lifestyle agency <br>
                            A docade of unrivalled experience. <br>
                            Trusted gy the world most luxurious <br>
                            yachts.
                        </p>
                        <a href="#">explore</a>
                    </div>
                </div>
            </section>
            <section class="approach">
                <div class="inner">
                    <ul class="list">
                        <li>
                            <a href="#a">
                                <img src="img/approach_1.jpg" alt="">
                                <span><b>CREW</b>made</span>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <img src="img/approach_2.jpg" alt="">
                                <span><b>CREW</b>Ready</span>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <img src="img/approach_3.jpg" alt="">
                                <span><b>CREW</b>Design</span>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <img src="img/approach_4.jpg" alt="">
                                <span><b>CREW</b>Residence</span>
                            </a>
                        </li>
                    </ul>
                    <div class="fix">
                        <div class="text animate" data-animate="motion" data-splitting>
                            <h2 class="title">about us</h2>
                            <p>
                                The apparel & lifestyle agency <br>
                                A docade of unrivalled experience. <br>
                                Trusted gy the world most luxurious <br>
                                yachts.
                            </p>
                            <a href="#">explore</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sectors">
                <div class="inner">
                    <div class="text animate" data-animate="motion" data-splitting>
                        <h2 class="title">sectors</h2>
                        <p>Luxury crew apparel curated across oceans,<br>
                            in private residences and at altitude.
                        </p>
                        <a href="#a">explore</a>
                    </div>
                    <ul class="list animate" data-animate="motion">
                        <li>
                            <a href="#a">
                                <img src="img/sectors_1.jpg" alt="">
                                <h3>yachting</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <img src="img/sectors_2.jpg" alt="">
                                <h3>aviation</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <img src="img/sectors_3.jpg" alt="">
                                <h3>residence</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="service">
                <div class="inner">
                    <div class="img animate" data-animate="motion"><img src="img/service.jpg" alt=""></div>
                    <div class="text animate" data-animate="motion" data-splitting>
                        <h2 class="title">service</h2>
                        <p>Crew à la Mode specialise in all your needs, <br>
                             from storage solutions to graphic design,<br>
                              brand sourcing, customisation and much more.
                            </p>
                            <a href="#a">explore</a>
                    </div>
                </div>
            </section>
            <section class="journal">
                <div class="inner">
                    <h2>journal</h2>
                    <ul class="list animate" data-animate="motion">
                        <li>
                            <a href="#a">
                                <p class="img">
                                    <img src="img/journal_1.jpg" alt="">
                                </p>
                                <h3>Superyacht Life Partnership</h3>
                                <p>Crew à la Mode are pleased to announce their
                                    recent partnership with the Superyacht Life
                                    recent partnership with the Superyacht Life
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <p class="img">
                                    <img src="img/journal_2.jpg" alt="">
                                </p>
                                <h3>CREW Post</h3>
                                <p>Celebrating our inaugural issue of CREW Post
                                     publication.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <p class="img">
                                    <img src="img/journal_3.jpg" alt="">
                                </p>
                                <h3>TRIED & TESTED TRAINERS</h3>
                                <p>We are sharing some of our favourite brands and
                                     styles that we know are loved by many of our clients.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <p class="img">
                                    <img src="img/journal_4.jpg" alt="">
                                </p>
                                <h3>Cards By Crew</h3>
                                <p>For our Christmas gifting at the end of 2021, we
                                     collaborated with Spanish artist Pol Montserrat to
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
          </div>
          <!-- footer -->
          <footer>
            <div class="inner">
                <h1 class="footerLogo">à</h1>
                <ul class="contact">
                    <li>LONDON \ Headquarters & Showroom</li>
                    <li>Unit 1C Warehouse K, Seagull Lane, Royal Victoria Docks, E16 1DR</li>
                </ul>
                <ul class="sns">
                    <li><a href="#a">INSTAGRAM</a></li>
                    <li><a href="#a">FACEBOOK</a></li>
                    <li><a href="#a">LINKEDIN</a></li>
                </ul>
            </div>
         </footer>
    </div>
</body>
</html>