<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<title>codes combine</title>
<link rel="stylesheet" href="css/sub.css">
<script src="js/default.js"></script>

</head>

<body>



<div class="skip_nav">
	<a href="#container">본문바로가기</a>
</div>





<header>
	<h1><a href="index.html"><img src="images/logo.png" alt="codes combine"></a></h1>

	<nav class="gnb">
		<a href="#" class="gnb_btn" onclick="gnbBtn();"><img src="images/gnb_btn.png" alt="전체메뉴"></a>

		<ul class="gnb_list">
			<li><a href="sub.html">ABOUT US</a></li>
			<li><a href="sub.html">LOOK BOOK</a></li>
			<li><a href="sub.html">NEWS & EVENT</a></li>
			<li><a href="sub.html">STORE</a></li>
			<li><a href="sub.html">CONTACT</a></li>
			<li class="close"><a href="#" onclick="closeGnb();"><img src="images/close.png" alt=""></a></li>
		</ul>
	</nav>
</header>






<div id="sub container">
	<div class="look">
		<img src="images/look.jpg" alt="look book">
	</div>

	<ul class="gallery">
	   <li><a href="#"><img src="images/s1.jpg" alt="여성가죽자켓"></a></li>
	   <li><a href="#"><img src="images/s2.jpg" alt="여성가죽자켓2"></a></li>
	   <li><a href="#"><img src="images/s3.jpg" alt="여성 롱셔츠"></a></li>
	   <li><a href="#"><img src="images/s4.jpg" alt="여성 원피스"></a></li>
	   <li><a href="#"><img src="images/s5.jpg" alt="남자 가죽자켓"></a></li>
	   <li><a href="#"><img src="images/s6.jpg" alt="남녀코트"></a></li>
	   <li><a href="#"><img src="images/s7.jpg" alt="남녀점퍼"></a></li>
	   <li><a href="#"><img src="images/s8.jpg" alt="남녀 점퍼 코트"></a></li>
	</ul>

    <div class="bt">
	<button>More</button>
</div>

</div>






<footer>
    <h2 class="blind">저작권자 정보</h2>
	<p class="copyright">Copyright (c) CODES COMBINE All right reserved</p>
</footer>






</body>
</html>
