<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BVLGARI</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/sub.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <div id="skip_nav">
    <a href="#contents">본문바로가기</a>
  </div>
  <body class="sub1">
    <header>
      <div class="inner">
        <h1>
          <a href="index.html"
            ><img src="images/logo.png" alt="불가리로고"
          /></a>
        </h1>
        <ul class="gnb">
          <li><a href="#">NEWSLETTER</a></li>
          <li><a href="#">SIGN/JOIN</a></li>
          <li><a href="#">HELP</a></li>
        </ul>
      </div>
    </header>

    <div id="sub_section">
      <div
        class="pper"
        data-aos="fade-right"
        data-aos-duration="2000"
        data-aos-delay="600"
        data-aos-offset="0"
      >
        <img src="images/pper.png" alt="ROSE GOLDEA 향수이미지" />
      </div>
      <div class="lgrs">
        <div
          class="gol"
          data-aos="fade-down"
          data-aos-duration="2000"
          data-aos-delay="600"
          data-aos-offset="0"
        >
          <img src="images/gol.png" alt="goldea 로션이미지" />
        </div>
        <h4>ROSE GOLDEA EAU DE PARFUM</h4>
        <p>
          BVLGARI unveils ROSE GOLDEA – the new tribute to femininity combining
          radiant rose and sophisticated musks into a blend of desire. Inspired
          by the iconic Serpenti design ROSE GOLDEA is a bold jewel of
          seduction, symbolizing the passionate and impassioned loves. Master
          Perfumer: Alberto Morillas
        </p>
        <h4>Ingredients</h4>
        <p>
          Alcohol Denat. (Sd Alcohol 39-C); Parfum (Fragrance); Aqua (Water);
          Linalool; Citronellol; Geraniol; Hydroxycitronellal; Ethylhexyl
          Methoxycinnamate; Alpha-Isomethyl Ionone; Limonene; Hexyl Cinnamal;
          Benzyl Alcohol; Butyl Methoxydibenzoylmethane; Ethylhexyl Salicylate;
          Cinnamyl Alcohol; Citral; Eugenol; Coumarin; Bht
        </p>
        <div class="detail">
          <span>Made In<em>italy</em></span>
          <span>Olfactive Family<em>Floral, Rose, Musk</em></span>
          <span>Size<em>90 ml</em></span>
        </div>
      </div>
      <p class="sub_typo2">
        <img
          src="images/sub_typo2.png"
          alt="ROSE GOLDEA 200ML BATH & SHOWER GEL"
        />
      </p>
      <p class="sub_typo1"><img src="images/sub_typo1.png" alt="perfume" /></p>
      <div class="lwh"><img src="images/lwh.png" alt="흰색투명상자" /></div>
      <div class="lpu"><img src="images/lpu.png" alt="보라색투명상자" /></div>
    </div>
    <footer class="sub">
      <div class="inner">
        <h1>
          <a href="#"><img src="images/logo.png" alt="불가리로고" /></a>
        </h1>
        <p class="copy">Copyright ⓒ 2020 BVLGARI.All rights reserved.</p>
        <ul class="sns">
          <li>
            <a href="#a"><img src="images/sns1.png" alt="페이스북" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns2.png" alt="인스타그램" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns3.png" alt="트위터" /></a>
          </li>
          <li>
            <a href="https://youtu.be/fqUOkmtTDds"
              ><img src="images/sns4.png" alt="유튜브"
            /></a>
          </li>
        </ul>
        <ul class="sitemap">
          <li><a href="#a">Sitemap</a></li>
          <li><a href="#a">Privacy Policy</a></li>
          <li><a href="#a">Contact Us</a></li>
        </ul>
      </div>
    </footer>
    <script>
      AOS.init();
    </script>
  </body>
</html>
