<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BVLGARI</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/sub.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <div id="skip_nav">
    <a href="#contents">본문바로가기</a>
  </div>
  <body class="sub2">
    <header>
      <div class="inner">
        <h1>
          <a href="index.html"
            ><img src="images/logo.png" alt="불가리로고"
          /></a>
        </h1>
        <ul class="gnb">
          <li><a href="#">NEWSLETTER</a></li>
          <li><a href="#">SIGN/JOIN</a></li>
          <li><a href="#">HELP</a></li>
        </ul>
      </div>
    </header>

    <div id="sub_section2">
      <div class="wat_cont">
        <div
          class="sub2_wat2"
          data-aos="fade-right"
          data-aos-duration="2000"
          data-aos-delay="600"
          data-aos-offset="0"
        ></div>
        <div
          class="sub2_wat1"
          data-aos="fade-left"
          data-aos-duration="2000"
          data-aos-delay="600"
          data-aos-offset="0"
        ></div>
        <p>
          The Octo L’Originale watch, represents the origins of the Octo line
          and the essence of its design. Endowed with a high-frequency
          chronograph, the cutting edge timepiece blends utmost performance with
          sporty elegance. In the 15th and 16th century, Italian artists such as
          Leonardo Da Vinci excelled in creating both innovative and timelessly
          beautiful masterpieces. Driven by the same genius, Octo combines a
          unique octagonal design – inspired by the 310 AD Roman Massentius
          Basilica - with exceptional mechanisms. Epitome of resilience, finesse
          and highest precision, the Octo L’Originale with integrated
          chronograph asserts a technically oriented nature fused with the
          distinctive character of Italian design. Octo L'Originale watch with
          mechanical manufacture high-frequency chronograph, silicon escapement,
          automatic winding and date, BVL 328 -Velocissimo caliber decorated
          with perlage, côtes de Genève and chamfering finishing, 50 hours power
          reserve, 41mm sandblasted stainaless steel case treated with Diamond
          Like Carbon, 18 kt rose gold octagon, 18kt rose gold crown,
          transparent case back, anthracite dial, 18 kt rose gold hand-applied
          indexes, integrated black rubber strap and stainless steel folding
          buckle treated with black Diamond Like Carbon. Water-resistant up to
          100 metres.
        </p>
        <div class="detail">
          <span>Diameter (mm)<em>41</em></span>
          <span>Water Resistance<em>100 m</em></span>
          <span>Color​<em>Black, Gold</em></span>
          <span>Band Material<em>Rubber</em></span>
          <span>Buckle<em>Pin Buckle</em></span>
          <span>Power Reserve<em>50 hours</em></span>
          <span>Frequency<em>36'000 VpH (5Hz)</em></span>
          <span>Material​<em>Rose gold, Steel</em></span>
        </div>
      </div>
    </div>
    <footer class="sub">
      <div class="inner">
        <h1>
          <a href="#"><img src="images/logo.png" alt="불가리로고" /></a>
        </h1>
        <p class="copy">Copyright ⓒ 2020 BVLGARI.All rights reserved.</p>
        <ul class="sns">
          <li>
            <a href="#a"><img src="images/sns1.png" alt="페이스북" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns2.png" alt="인스타그램" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns3.png" alt="트위터" /></a>
          </li>
          <li>
            <a href="https://youtu.be/fqUOkmtTDds"
              ><img src="images/sns4.png" alt="유튜브"
            /></a>
          </li>
        </ul>
        <ul class="sitemap">
          <li><a href="#a">Sitemap</a></li>
          <li><a href="#a">Privacy Policy</a></li>
          <li><a href="#a">Contact Us</a></li>
        </ul>
      </div>
    </footer>
    <script>
      AOS.init();
    </script>
  </body>
</html>
