<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BVLGARI</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/sub.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <div id="skip_nav">
    <a href="#contents">본문바로가기</a>
  </div>
  <body class="sub3">
    <header>
      <div class="inner">
        <h1>
          <a href="index.html"
            ><img src="images/logo.png" alt="불가리로고"
          /></a>
        </h1>
        <ul class="gnb">
          <li><a href="#">NEWSLETTER</a></li>
          <li><a href="#">SIGN/JOIN</a></li>
          <li><a href="#">HELP</a></li>
        </ul>
      </div>
    </header>

    <div id="sub_section3">
      <div class="ac_cont">
        <div
          data-aos="fade-right"
          data-aos-duration="2000"
          data-aos-delay="600"
          data-aos-offset="0"
        ></div>

        <div
          data-aos="fade-down"
          data-aos-duration="2000"
          data-aos-delay="600"
          data-aos-offset="0"
        ></div>

        <div></div>
        <h3>SERPENTI FOREVER BRACELET</h3>
        <p>
          Serpenti Forever multi-coiled rigid Cleopatra bracelet in charcoal
          diamond metallic karung skin, with brass light gold plated hardware.
          Iconic double snakehead décor enameled in black and glitter charcoal
          diamond and finished with seducing eyes in black enamel. Medium size.
          6 cm. - 2.3
        </p>
        <div class="detail">
          <span>Made In<em>Italy</em></span>
          <span>Material​<em>Karung leather</em></span>
          <span>Size​<em>M</em></span>
          <span>Color​<em>Grey, Silver</em></span>
        </div>
      </div>
    </div>
    <footer class="sub">
      <div class="inner">
        <h1>
          <a href="#"><img src="images/logo.png" alt="불가리로고" /></a>
        </h1>
        <p class="copy">Copyright ⓒ 2020 BVLGARI.All rights reserved.</p>
        <ul class="sns">
          <li>
            <a href="#a"><img src="images/sns1.png" alt="페이스북" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns2.png" alt="인스타그램" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns3.png" alt="트위터" /></a>
          </li>
          <li>
            <a href="https://youtu.be/fqUOkmtTDds"
              ><img src="images/sns4.png" alt="유튜브"
            /></a>
          </li>
        </ul>
        <ul class="sitemap">
          <li><a href="#a">Sitemap</a></li>
          <li><a href="#a">Privacy Policy</a></li>
          <li><a href="#a">Contact Us</a></li>
        </ul>
      </div>
    </footer>
    <script>
      AOS.init();
    </script>
  </body>
</html>
