<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BVLGARI</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/sub.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <div id="skip_nav">
    <a href="#contents">본문바로가기</a>
  </div>
  <body class="sub4">
    <header>
      <div class="inner">
        <h1>
          <a href="index.html"
            ><img src="images/logo.png" alt="불가리로고"
          /></a>
        </h1>
        <ul class="gnb">
          <li><a href="#">NEWSLETTER</a></li>
          <li><a href="#">SIGN/JOIN</a></li>
          <li><a href="#">HELP</a></li>
        </ul>
      </div>
    </header>

    <div id="sub_section4">
      <div class="jw_cont">
        <div
          data-aos="fade-right"
          data-aos-duration="2000"
          data-aos-delay="600"
        ></div>
        <div
          data-aos="fade-up"
          data-aos-duration="2000"
          data-aos-delay="600"
        ></div>
        <div
          data-aos="fade-down"
          data-aos-duration="2000"
          data-aos-delay="600"
        ></div>
        <h3>B.ZERO1 SUNGLASSES</h3>
        <p>
          Bvlgari B.zero1 pink gold-tone half-rim metal sunglasses featuring
          mirrored pink round lenses. The temples are embellished with B.zero1
          jewellery-inspired décor.
        </p>
        <div class="detail">
          <span>Made In<em>Italy</em></span>
          <span>Material​<em>Metal</em></span>
          <span>Lens Shape​<em>Round</em></span>
          <span>Frame Dimension (mm)​<em>132</em></span>
          <span>Color​​<em>Pink</em></span>
          <span>Product code​<em>BV6123 2014/4Z</em></span>
        </div>
      </div>
    </div>
    <footer class="sub">
      <div class="inner">
        <h1>
          <a href="#"><img src="images/logo.png" alt="불가리로고" /></a>
        </h1>
        <p class="copy">Copyright ⓒ 2020 BVLGARI.All rights reserved.</p>
        <ul class="sns">
          <li>
            <a href="#a"><img src="images/sns1.png" alt="페이스북" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns2.png" alt="인스타그램" /></a>
          </li>
          <li>
            <a href="#a"><img src="images/sns3.png" alt="트위터" /></a>
          </li>
          <li>
            <a href="https://youtu.be/fqUOkmtTDds"
              ><img src="images/sns4.png" alt="유튜브"
            /></a>
          </li>
        </ul>
        <ul class="sitemap">
          <li><a href="#a">Sitemap</a></li>
          <li><a href="#a">Privacy Policy</a></li>
          <li><a href="#a">Contact Us</a></li>
        </ul>
      </div>
    </footer>
    <script>
      AOS.init();
    </script>
  </body>
</html>
