<section class="f1">
  <div class="inner">
      <ul class="f_gnb1">
          <li><a href="#">GHIBLI</a></li>
          <li><a href="#">LEVENTE</a></li>
          <li><a href="#">QUATTROPORTE</a></li>
          <li><a href="#">GRANTURISMO</a></li>
          <li><a href="#">GRANCABRIO</a></li>
      </ul>
      <ul class="f_gnb2">
          <li><a href="#">SERVICES AND AFFTERSALES</a></li>
          <li><a href="#">DEALERLOCATOR</a></li>
          <li><a href="#">BUILD AND PRICE</a></li>
          <li><a href="#">SCHEDULE SERVICE</a></li>
      </ul>
      <ul class="f_gnb3">
          <li><a href="#">PRESS RELEASES (MEDIA)</a></li>
          <li><a href="#">CONTACT US</a></li>
          <li><a href="#">QUATTROPORTE</a></li>
          <li><a href="#">NEWSLETTER</a></li>
          <li><a href="#">BLUETOOTH COMPATIBILITY</a></li>
      </ul>
      <ul class="f_gnb4">
          <li><a href="#">STAY IN TOUCH WIDTH US</a></li>
      </ul>
      <ul  class="sns">
          <li class="sns1"><a href="#"><img src="images/sns1.png" alt="facebook"></a></li>
          <li class="sns2"><a href="#"><img src="images/sns2.png" alt="instagram"></a></li>
      </ul>
      <div class="location">LOCATION
       <ul class="sub">
          <li><a href="#">KOREA</a></li>
          <li><a href="#">CHINA</a></li>
       </ul>
      </div>
  </div>
</section>
<section class="f2">
  <div class="inner">
      <h1 class="f_logo"><img src="images/logo.png" alt="마세라티 로고"></h1>
      <p class="copy">&copy; 2019,MASERATI, ALL RIGHTS RESERVED.</p>
  </div>
</section>