<div class="inner">
  <h1><a href="index.html"><img src="images/logo.png" alt="마세라티로고"></a></h1>
  <div class="gnb">
      <ul>
          <li class="main"><a href="sub1.html" >BRAND</a>
          <ul class="lnb">
              <li><a href="sub1.html">Our Story</a></li>
              <li><a href="sub1.html">Our World</a></li>
              <li><a href="sub1.html">Our Partners</a></li>
          </ul>
          </li>
          <li class="main"><a href="sub2.html">MODELS</a>
              <ul class="lnb">
                  <li><a href="sub2.html">Ghibli</a></li>
                  <li><a href="sub2.html">Levante</a></li>
                  <li><a href="sub2.html">Quattroporte</a></li>
                  <li class="gran"><a href="sub2-4.html">GranTurismo</a></li>
                  <li><a href="sub2.html">GranCabrio</a></li>
              </ul>
          </li>
          <li class="main"><a href="sub3.html">EVENT</a>
              <ul class="lnb">
                  <li><a href="sub3.html">Events</a></li>
                  <li><a href="sub3.html">Autoshows</a></li>
                  <li><a href="sub3.html">Challenges</a></li>
                  <li><a href="sub3.html">Experiences</a></li>
              </ul>
          </li>
          <li class="main"><a href="sub4.html">SERVICES</a>
              <ul class="lnb">
                  <li><a href="sub4.html">Service</a></li>
                  <li><a href="sub4.html">Utility</a></li>
                  <li><a href="sub4.html">Certified</a></li>
              </ul>
          </li>
          <li class="main"><a href="sub5.html">TOOLS</a>
              <ul class="lnb">
                  <li><a href="sub5.html">Build your Own</a></li>
                  <li><a href="sub5.html">Connect network</a></li>
                  <li><a href="sub5.html">E-Brochures</a></li>
              </ul>
          </li>
    </ul>
    <div class="lnb_bg"></div>
</div>
      <div id="search">
          <form action="#">
              <fieldset>
                  <legend class="blind">통합검색</legend>
                  <input type="text" id="t1"><label for="t1"class="blind">검색어입력</label>
                  <input type="image" src="images/search_btn.png">
              </fieldset>
          </form>
      </div>
      <div class="join"><a href="join.html">JOIN MASERATI</a></div>
</div>