<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MASERATI</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../../css/aos.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="../../js/aos.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider();
        });

    </script>
</head>

<body class="main">
    <div id="skip_nav">
        <a href="#contents">본문바로가기</a>
    </div>
    <header id="hedaer"></header>
    <section id="visual">
        <div class="inner">
            <p class="typo" data-aos="fade-up">
                <img src="images/typo.png" alt="Levante Trofeo THE MASERATI OF SUVs">
            </p>
        </div>
    </section>
    <div id="contents">
        <div class="group1">
            <ul>
                <li data-aos="fade-up">
                    <a href="sub2.html">
                        <img src="images/per.jpg" alt="performance">
                        <div class="b_box">
                            <p>PERFORMANCE</p>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <a href="sub2.html">
                        <img src="images/tec.jpg" alt="tecnology">
                        <div class="b_box">
                            <p>TECHNOLOGY</p>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <a href="sub2.html">
                        <img src="images/des.jpg" alt="design">
                        <div class="b_box">
                            <p>DESHIGN</p>
                        </div>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-delay="600">
                    <a href="sub2.html">
                        <img src="images/cra.jpg" alt="craftmanship">
                        <div class="b_box">
                            <p>CRAFTMANSHIP</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="group2">
            <div class="ti" data-aos="fade-right"><img src="images/ti.jpg" alt="표시계이미지"></div>
            <div class="ti-r" data-aos="fade-right" data-aos-delay="200"><img src="images/ti-r.png" alt="redpoint">
                <p>YOU DESERVE AN UPGRADE <br>
                    <span>CONTACT OUR FINANCETEAMNOW</span>
                </p>
            </div>
            <p data-aos="fade-up" data-aos-delay="400">A Force of Nature <br>
                Levante is a wind that blows across the Mediterra <br>
                nean, transforming from benign calm to gale <br>
                force in an instant. The Maserati SUV that bears its <br>
                name assures such mighty power always remains <br>
                under complete control. With the stability of <br>
                Maserati Q4 intelligent all-wheel drive, the Levante <br>
                maintains its refined composure even when the <br>
                going gets tough.
            </p>
        </div>
        <h2 data-aos="fade-up">FEATURED INVENTORY <br> <span>////////</span></h2>
        <div class="slider" data-aos="fade-left">
            <div class="bx1">
                <ul class="bx1-g">
                    <li class="bx1-1">
                        <div class="gh">
                            <img src="images/gh.png" alt="Ghibli">
                        </div>
                        <h3>GHIBLI</h3>
                        <h4>STARTING FROM*</h4>
                        <h5>$75,480</h5>
                        <div class="rbx">
                            <p>VIEW YOUR SPECIAL OFFER</p>
                        </div>
                    </li>
                    <li class="bx1-2">
                        <div class="le">
                            <img src="images/le.png" alt="Levante">
                        </div>
                        <h3>LEVANTE</h3>
                        <h4>STARTING FROM*</h4>
                        <h5>$76,980</h5>
                        <div class="rbx">
                            <p>VIEW YOUR SPECIAL OFFER</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bx2">
                <ul class="bx2-g">
                    <li class="bx2-1">
                        <div class="gr">
                            <img src="images/gr.png" alt="GranTurismo">
                        </div>
                        <h3>GRAN TURISMO</h3>
                        <h4>STARTING FROM*</h4>
                        <h5>$134.300</h5>
                        <div class="rbx">
                            <p>VIEW YOUR SPECIAL OFFER</p>
                        </div>
                    </li>
                    <li class="bx2-2">
                        <div class="qu">
                            <img src="images/qu.png" alt="Quattroporte">
                        </div>
                        <h3>QUATTROPORTE</h3>
                        <h4>STARTING FROM*</h4>
                        <h5>$107,980</h5>
                        <div class="rbx">
                            <p>VIEW YOUR SPECIAL OFFER</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="see" data-aos="fade-right" data-aos-delay="200">
            <h4>SEE SOMETHING YOU LIKE?</h4>
            <p>Fill out the form below to <br>
                reserve your car!</span></p>
            <ul>
                <li><input type="text" placeholder="NAME" title="NAME" readonly="readonly"></li>
                <li><input type="email" placeholder="EMAIL" title="EMAIL" readonly="readonly"></li>
                <li><input type="text" placeholder="PHON" title="PHON" readonly="readonly"></li>
                <li><input type="text" placeholder="CAR YOUR INTERESTED IN" title="CAR YOUR INTERESTED IN"
                        readonly="readonly"></li>
            </ul>
            <div class="bt">
                <ul>
                    <li class="sb"><button>SUBMIT</button></li>
                    <li><button>OR CALL</button></li>
            </div>
            </ul>
        </div>
    </div>
    <footer></footer>
</body>
<script>
    $(function () {
        $(".group1 > ul > li").mouseenter(function () {
            $(this).find('div').css({ "opacity": "0.7" });
        })
        $(".group1 > ul > li").mouseleave(function () {
            $(this).find('div').css({ "opacity": "0" });
        })
        AOS.init(
            { duration: 2000 }
        );
        $('header').load('./header.html');
        $('footer').load('./footer.html');
    })
</script>

</html>