<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean"
        rel="stylesheet">
    <link rel="stylesheet" href="css/sub.css">
    <link rel="stylesheet" href="../../css/aos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../js/aos.js"></script>
    <title>MASERATI</title>

</head>

<body class="sub4">
    <div id="skip_nav">
        <a href="#contents">본문바로가기</a>
    </div>
    <header style="background:black;"> </header>
    <div id="sub_sp">
        <div class="inner">
            <div class="sp1" data-aos="fade-left"><img src="images/sp1.png" alt=""></div>
            <div class="sp2" data-aos="fade-right" data-delay="200"><img src="images/sp2.png" alt=""></div>
            <p class="gran" data-aos="fade-up" data-delay="200">70 YEARS OF GRANTURISMO</p>
            <div class="sp3" data-aos="fade-left" data-delay="400"><img src="images/sp3.png" alt=""></div>
            <div class="sp4" data-aos="fade-right" data-delay="200"><img src="images/sp4.png" alt=""></div>
            <p class="the" data-aos="fade-up" data-delay="200">The GranTurismo philosophy <br>
                <span>70 years of Grand Touring in 120 seconds</span>
            </p>
            <div class="sp5" data-aos="fade-up"><img src="images/sp5.jpg" alt=""></div>
            <div class="sp6" data-aos="fade-down"><img src="images/sp6.jpg" alt=""></div>
            <div class="sp7" data-aos="fade-right" data-delay="400"><img src="images/sp7.png" alt=""></div>
            <div class="sp8" data-aos="fade-up" data-delay="600"><img src="images/sp8.png" alt=""></div>

            <p class="text1" data-aos="fade-up" data-delay="400">MASERATI ROYAL CHARITY POLO <br>
                TROPHY: THE UK LEG OF THE <br>
                MASERATI INTERNATIONAL POLO <br>
                TOUR IN COLLABORATION WITH LA <br>
                MARTINA</p>

            <p class="text2" data-aos="fade-down" data-delay="400">THE MASERATI POLO TOUR 2018 <br>
                KICKS OFF AT THE LEGENDARY <br>
                “SNOW POLO WORLD CUP ST. <br>
                MORITZ” IN COLLABORATION WITH <br>
                LA MARTINA</p>
        </div>
    </div>
    <footer></footer>

    <script>
        $('header').load('./header.html');
        $('footer').load('./footer.html');
        AOS.init(
            {duration:2000}
        )
    </script>
</body>

</html>