<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean"
        rel="stylesheet">
    <link rel="stylesheet" href="css/sub.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>MASERATI</title>

</head>

<body class="sub4">
    <div id="skip_nav">
        <a href="#contents">본문바로가기</a>
    </div>
    <header style="background:black;"></header>
    <section id="sub_contents4">
        <h2>Maintenance Program</h2>
        <h3>Drive the excellence</h3> <br><br>
        <p>The Maserati Maintenance program offers prepaid maintenance packages designed to help assure the greatest
            efficiency and safety.<br>
            Drive the Excellence is pure driving pleasure: fixed purchase prices, technical skills and Maserati genuine
            parts are the program highlights.<br><br>

            The Maserati Maintenance program is dedicated to the Ghibli, Levante and Quattroporte models.</p>

        <div class="sv1">
            <img src="images/sv1.jpg" alt="마세라티 차량이미지" style="width:1000px;">
        </div>

        <div class="sub4_con2">
            <h2 style="text-align: left;">You can choose the program that best suits your requirements</h2>
            <p style="text-align: left; margin-top:60px;">You may choose between two options, conceived to satisfy every
                and all needs: Maserati Premium Service and Maserati Premium Service Plus.<br><br>

                PREMIUM SERVICE
                The "Premium Service" program option covers all the inspections, replacements of components and
                consumables provided by the official Maintenance Schedule described in your car Owner's Manual.<br><br>

                PREMIUM SERVICE PLUS<br>
                In addition to the services offered by the "Premium Service" program option, "Premium Service Plus" also
                covers additional major components* (the front and rear brake pads, front and rear brake discs, and <br>
                driver-side or passenger-side wiper blades).<br><br>

                * The additional components included in the “Premium Service Plus” program option may be replaced once
                only during the program term.
            </p>
        </div>
        <div class="safe">
            <div class="sub4_con3">
                <h2>The luxury of driving in full safety</h2>
                <p>
                    The Maserati Maintenance program guarantees that all inspections and substitution of
                    components are always performed by highly qualified and technically advanced personnel.

                    The philosophy behind the Maserati Maintenance program is focused on clear conditions:
                    fixed prices assured for spare parts, consumables and labour, for the entire program term.
                </p>
                <div class="sub4_con3_img">
                    <img src="images/sv3.jpg" alt="바퀴 휠 이미지">
                </div>
            </div>
        </div>

    </section>
    <footer></footer>
<script>
    $('header').load('./header.html');
    $('footer').load('./footer.html');
  </script>
</script>
</body>

</html>