<!DOCTYPE html>
<html lang="en">
<head>
  <title>귀멸의 칼날</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/image/thumb.jpg" />

  <link rel="stylesheet" type="text/css" href="./css/reset.css" />
  <link rel="stylesheet" type="text/css" href="./css/motion.css" />
  <script type="text/javascript" src="./js/motion_pc.js"></script>
</head>
<body>
  <div class="contentWrap active">
    <div class="front">
      <h1></h1>
      <div class="logo"></div>
      <div class="cloud1"></div>
      <div class="cloud2"></div>
      <div class="m1"></div>
      <div class="m2"></div>
      <div class="fire"></div>
      <div class="m3"></div>
      <div class="nes"></div>
      <div class="tan"></div>
      <div class="kyo"></div>
    </div>
    <div class="back">
      <p class="msg">燃えるような情熱を胸に頑張ろう！ <br>타는 듯한 정열을 가슴에 품고 힘내라!</p>
      <h3>煉獄 杏寿郎 <br> 렌 고쿠 쿄쥬로</h3>
    </div>
  </div>
</body>
</html>