<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Merry Christmas!</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/gsap@3/dist/ScrollToPlugin.min.js"></script>
</head>

<body>
  <main>
    <!-- <h1>Merry Christmas!</h1> -->
    <h1 class="title">
      <div>M</div>
      <div>e</div>
      <div>r</div>
      <div>r</div>
      <div>y&nbsp</div>
      <div>C</div>
      <div>h</div>
      <div>r</div>
      <div>i</div>
      <div>s</div>
      <div>t</div>
      <div>m</div>
      <div>s</div>
      <div>!</div>
    </h1>
  </main>
  <div id="snow-container" title="Click asnywhere to remove snow">
    <!-- <div class="snow">
      &#10052;
    </div> -->
  </div>
  <script src="./main.js"></script>
</body>
<style>
  .title {
    display: flex;
    justify-content: center;
    color: #fff;
  }
</style>

</html>