<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<title>KT MEMBERSHIP FESTA | KT멤버십</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href="./css/festa.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
	<!-- ===== app ====== -->
	<div id="app">
		<div class="festa-event ptevent">
			<header>
				<div class="visual">
					<img src="images/visual01.jpg" alt="">
					<div class="blind">
						케·멤·페

						KT
						MEMBERSHIP
						FESTA

						09.01 - 09.30

						태양의 서커스 〈쿠자〉

						시사회 초청

						올·다·네·스
						Free

						쇼핑라운지 특가전

						달달
						혜택

						다이팅 셀렉트

						케이티· 멤버십 · 페스타로
						어서 오세요!

						KT 멤버십 고객이면 누구나 초청, 무료, 할인혜택 챙기세요!
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="#section01">태양의서커스 <br> 〈쿠자〉 초청</a></li>
						<li><a href="#section02">〈어쩔수가없다〉<br>시사회 초청</a></li>
						<li><a href="#section03">올.다.네.스 <br> Free</a></li>
						<li><a href="#section04">쇼핑라운지 <br> 특가전</a></li>
						<li><a href="#section05">다이닝 <br> 셀렉트</a></li>
						<li><a href="#section07">케.멤.페 <br> 스페셜 </a></li>
					</ul>
				</nav>
			</header>
			<div class="invitation">
				<section id="section01">
					<img src="images/cont01_1.jpg" alt="">
					<div class="blind">
						초청이벤트
						태양의 서커스 쿠자

						태양의 서커스 역대 최고 흥행작 〈쿠자〉
						아크로바틱과 감동 스토리의 환상적인 조화
						KT멤버십 고객만을 위한 특별 초청 혜택

						공연명 : 태양의서커스 〈쿠자〉 -서울
						장소 : 잠실운동장 내 빅탑 (서울특별시 송파구 올림픽로 25)
						응모 일정 : 2025년 9월 1일 (월) ~ 2025년 9월 30일 (화)
						당첨 발표 : 2025년 10월 1일 (수)
						초대 일정 : 2025년 11월 8일 (토) 오후 3시 30분
						초대석 : SR석
						초대 인원 : 100명 (1인 2매)
					</div>
					<a href="javascript:;" class="btn02" style="bottom:16%">
						<img src="images/kmf_btn06.png" alt="태양의 서커스〈쿠자〉응모하기">
					</a>
					<!-- 이벤트 종료시 -->
					<!-- <a href="javascript:;" class="btn02">
						<img src="images/kmf_btn_off.png" alt="태양의 서커스 〈쿠자〉 이벤트종료">
					</a> -->
					<div class="ban" style="margin-top:-1px">
						<a href="javascript:;" target="_blank" title="새창열림">
							<img src="images/kooza_ban.jpg" alt="plus혜택 태양의서커스 15% 할인">
						</a>
					</div>
				</section>
				<section id="section02">
					<img src="images/cont02.jpg" alt="">
					<div class="blind">
						전국 시사회 초청 이벤트
						어쩔수가없다
						화제의 영화 〈어쩔수가없다〉
						KT멤버십 고객을 위한 시사회 초청 이벤트

						제공 혜택 : 영화 〈어쩔수가없다〉 시사회 초청권 (1인 2매)
						응모 일정 : 2025년 9월 1일 (월) ~ 2025년 9월 16일 (화)
						시사회 일시 : 2025년 9월 23일 (화) 오후 7시 30분
						대상 : KT멤버십 고객 누구나
						당첨 인원 : 5,000명 (1인 2매)
						당첨 발표 : 2025년 9월 19일 (금) 발표 및 당첨자 개별문자 안내

					</div>
					<a href="javascript:;" class="btn02">
						<img src="images/kmf_btn02.png" alt="전국 시사회 초청 이벤트 〈어쩔수가없다〉 응모하러 가기">
					</a>
					<!-- 이벤트 종료시 -->
					<!-- <a href="javascript:;" class="btn02">
						<img src="images/kmf_btn_off.png" alt="전국 시사회 초청 이벤트 〈어쩔수가없다〉 이벤트종료">
					</a> -->
				</section>
				<section id="section03">
					<h2>
						<img src="images/section03_tit.jpg" alt="
						일상 속 필수 브랜드, 매주 찾아오는 선물
						매주 수요일에 열리는 혜택을 만나보세요.
						올·다·네·스 Free
						">
					</h2>
					<div class="cont01">
						<img src="images/cont03_1.jpg" alt="
						1WEEK 9.3 (수)
						올리브영 3천원권
						선착순, 9월 4일 (목) 경 일괄 발송 예정
						">
						<!-- 커밍순 버튼 -->
						<a href="javascript:;" class="btn03">
							<img src="images/btn_com.png" alt="Coming soon">
						</a>
						<!-- 이벤트 종료 버튼 -->
						<!-- <a href="javascript:;" class="btn03">
							<img src="images/btn_end.png" alt="이벤트 종료">
						</a> -->
					</div>
					<div class="cont02">
						<img src="images/cont03_2.jpg" alt="
						2WEEK 9.10 (수)
						다이소 3천원권
						선착순, 9월 11일 (목) 경 일괄 발송 예정
						">
						<a href="javascript:;" class="btn03">
							<img src="images/btn_first come.png" alt="선착순 종료">
						</a>
					</div>
					<div class="cont03">
						<img src="images/cont03_3.jpg" alt="
						3WEEK 9.17 (수)
						네이버페이
						3천원권
						선착순, 9월 18일 (목) 경 일괄 발송 예정
						">
						<a href="javascript:;" class="btn03">
							<img src="images/btn03.png" alt="응모하기">
						</a>
					</div>
					<div class="cont04">
						<img src="images/cont03_4.jpg" alt="
						4WEEK 9.24 (수)
						스타벅스
						무료 음료 1잔
						선착순, 9월 25일 (목) 경 일괄 발송 예정
						">
						<a href="javascript:;" class="btn03" style="bottom:27%">
							<img src="images/btn03.png" alt="응모하기">
						</a>
					</div>
				</section>
				<section id="section04">
					<img src="images/cont04.jpg" alt="">
					<div class="blind">
						KT멤버십 혜택 커머스 ‘쇼핑라운지’

						쇼핑라운지
						케.멤.페 특가전

						케.멤.페 한정
						20여가지 특가 상품이 준비되어 있어요!

						쇼핑라운지 특가 상품은 조기 품절 및 변경될 수 있습니다.
					</div>
					<a href="javascript:;" class="btn01" style="bottom:14%">
						<img src="images/spcial_btn.png" alt="케.멤.페 특가전 쇼핑하기">
					</a>
				</section>
				<section id="section05">
					<div class="daldal-festa">
						<h2>
							<img src="images/section05_tit.jpg" alt="
							매주 화요일 오픈 다이닝 셀렉트

							맛있는 선택, 확실한 혜택
							프리미엄부터 캐주얼까지, 외식의 즐거움을 
							특별한 할인으로 누려보세요.
							">
						</h2>
					</div>
					<!-- slide -->
					<div class="mySwiper">
						<div class="swiper-wrapper">
							<!-- 이벤트종료 : .off class, 커밍순 : .com class, 선착순: .fisrt class -->
							<a href="javascript:;" title="새창열림" target="_blank" class="swiper-slide">
								<img src="images/dining_01.png" alt="">
								<div class="blind">
									9.23 (화) OPEN
									푸라닭 치킨
									9천원 할인
									전용앱 19,900원 이상 주문시
								</div>
							</a>
							<!-- 이벤트종료 : .off class, 커밍순 : .com class, 선착순: .fisrt class -->
							<a href="javascript:;" title="새창열림" target="_blank" class="swiper-slide first">
								<img src="images/dining_04.png" alt="">
								<div class="blind">
									9.2 (화) OPEN
									배달의민족 X 호식이두마리치킨
									9천원 할인
									2만원 이상 주문 시
								</div>
							</a>
							<!-- 이벤트종료 : .off class, 커밍순 : .com class, 선착순: .fisrt class -->
							<a href="javascript:;" title="새창열림" target="_blank" class="swiper-slide com">
								<img src="images/dining_03.png" alt="">
								<div class="blind">
									9.9 (화) OPEN
									madforGarlic
									50% 할인
									최대 5만원 할인
								</div>
							</a>
							<!-- 이벤트종료 : .off class, 커밍순 : .com class, 선착순: .fisrt class -->
							<a href="javascript:;" title="새창열림" target="_blank" class="swiper-slide">
								<img src="images/dining_02.png" alt="">
								<div class="blind">
									9.16 (화) OPEN
									샐러디
									50% 할인
									5,900원 이상 주문시
									최대 5천원 할인
								</div>
							</a>
						</div>
					</div>
					<!--// slide -->
				</section>
				<section id="section07">
					<img src="images/cont07.jpg" alt="
					KT멤버십이 준비한 시원한 선물
					케·멤·페 스페셜
					메가MGC커피 ICE 아메리카노
					롯데시네마 영화예매권 (랜덤 증정)
					선착순 40만명
					응모일정 : [1차] 9월 1일 (월) ~ 9월 14일 (일)
										 [2차] 9월 15일 (월) ~ 9월 30일 (화) 
					당첨자 안내 : 발표 및 당첨자 개별문자 안내
										[1차] 9월 16일 (화)
										[2차] 10월 2일 (목)
										※ 1차, 2차 통합 1회 응모
					">
					<a href="javascript:;" class="btn01" style="bottom:7.5%">
						<img src="images/kmf_btn04.png" alt="케멤페 스페셜 응모하기">
					</a>
				</section>
				<section id="section06">
					<img src="images/cont06.jpg" alt="
					KT멤버십, 매 달 선보이는 달콤한 혜택
					 달.달.혜택
						더 달달하게 즐겨볼 가을?
						하늘처럼 높디높은 달달한 혜택 드림!
						9.15 - 9.30
						2025
						09

						starbucks®
						EDIYA COFFEE
						CHAMPION1250
						LOTTE RESORT
						GREATING
						PaulBassett
						Fredit
						Domino's
						Tim Hortons
						Paris Baguette
						DUNKIN
						MEGABOX
						LIFE THEATER
						LOTTE CINEMA
						speedmate
						SHINSEGAE
						agoda
						crocs
						innisfree
						giftishow
						롯데렌터카
						G CAR
						ONE STORE
						TMAP 대리
						배달의민족 X 호식이두마리치킨
					">
					
				</section>
			</div>
			<div class="guide-tbx">
				<h2 class="tit fir">이벤트 유의사항</h2>
				<ul>
					<li>쿠폰 다운로드 후 취소 불가 및 이용횟수 복구 불가</li>
					<li>
						본 이벤트는 회사와 제휴사의 사정으로 변경되거나
						조기 종료될 수 있음
					</li>
					<li>비즈멤버십 고객은 이용 불가</li> 
					<li>모든 응모 이벤트는 오전 10시에 오픈</li>
				</ul><br>
				<p>
					* 본 이벤트는 APPLE과는 아무런 관련이 없습니다.
				</p> 
			</div>
		</div>
	</div>
	<!-- ===== /app ====== -->
	<script>
		let navHeight = 0;
		let headerHeight = 0;
		let navOffsetTop = 0;
		function updateHeights() {
			navHeight = $('.festa-event nav').outerHeight();
			headerHeight = $('.festa-event header').outerHeight();
			navOffsetTop = $('.festa-event nav').offset().top;
		}
		function handleScroll() {
			const scrollPos = $(document).scrollTop();
			if (scrollPos > headerHeight - navHeight) {
				$('.festa-event nav').addClass('fixed');
			} else {
				$('.festa-event nav').removeClass('fixed');
			}
			$('section').each(function () {
				const top = $(this).offset().top - navHeight - 10;
				const bottom = top + $(this).outerHeight();
				const id = $(this).attr('id');
				if (scrollPos >= top && scrollPos < bottom) {
					$('nav li').removeClass('active');
					$(`nav a[href="#${id}"]`).parent().addClass('active');
				}
			});
		}
		updateHeights();
		if (window.scrollY > 0) {
			handleScroll();
		}
		$(window).on('resize', function () {
			updateHeights();
			if (window.scrollY > 0) {
				handleScroll();
			}
		});
		$('.festa-event nav a').on('click', function (e) {
			e.preventDefault();
			const targetId = $(this).attr('href');
			const $target = $(targetId);
			$('html, body').stop().animate({
				scrollTop: $target.offset().top - navHeight
			}, 500);
		});
		$(window).on('scroll', handleScroll);


		// swiper
		var festaswiper = new Swiper('.festa-event .mySwiper', {
			loop: true,
			loopFillGroupWithBlank: true,
			spaceBetween: 20,
			slidesPerView: 'auto',
			centeredSlides: true,
		});
	</script>
</body>

</html>