@charset "utf-8";

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* --------------------------------------------
 * default
/* ------------------------------------------ */
html {
  font-size: 10px;
}
html,
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  width: 100%;
  font-family: "Paperozi";
  color: #111;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.3rem;
  background-color: #fff;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  letter-spacing: -0.05em;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* -------------------------------------------- html5 block ------------------------------------------ */
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  -webkit-text-size-adjust: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  transition: all 0.4s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
iframe,
embed,
object,
video {
  max-width: 100%;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
div {
  position: relative;
}

.blind,
legend {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent;
}
caption {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  height: 1px;
}

/* ------------------------------------------ */
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #222;
  text-decoration: none;
  display: block;
}
a:focus,
button:focus {
  outline: none;
}
.app_st a:focus,
.app_st button:focus {
  outline: none;
}
a,
button,
input,
textarea,
select,
img {
    -webkit-tap-highlight-color: transparent;
}

/* --------------------------------------------
	list
/* ------------------------------------------ */
ul,
ol {
  list-style: none;
}

/* --------------------------------------------
 * img
/* ------------------------------------------ */
img {
  vertical-align: top;
}

/* --------------------------------------------
 * event
/* ------------------------------------------ */
.ptevent {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.daldal-wr {
  width: 100%;
}
.daldal-wr img {
  width: 100%;
  display: block;
}
.daldal-wr a {
  display: block;
}

.ptevent .event-con {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.display {
  display: none;
}

.balanceGame {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.balanceGame a {
  display: inline-block;
}
.balanceGame .event-con > .close {
  width: 41px;
  height: 42px;
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 999;
}
.balanceGame .event-con .early_pop {
  background-color: #000;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}
.balance.complete {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: #fff;
}
.balanceGame .dim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.balanceGame .main .main_balance {
  background: url(../images/balance_bg.jpg) no-repeat center center / cover;
  width: 100%;
  height: 1100px;
  font-size: 0;
}
.balanceGame .main .main_balance h1 {
  width: 312px;
  margin: 0 auto;
  text-align: center;
  padding: 55px 0 27px;
}
.balanceGame .main .main_balance h2 {
  width: 556px;
  margin: 0 auto;
  text-align: center;
}
.balanceGame .main .main_balance a {
  display: block;
  margin: 30px auto;
  text-align: center;
  width: 295px;
}
.balanceGame .balance {
  position: relative;
  background: linear-gradient(to bottom, #ffcee4, #fff0f5);
  height: 1140px;
}
.balanceGame .balance::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 568px;
  height: 122px;
  background: url(../images/hearts_a.png) no-repeat center center / cover;
}
.balanceGame .balance::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 640px;
  height: 126px;
  background: url(../images/hearts_b.png) no-repeat center center / cover;
  pointer-events: none;
}
.balanceGame .balance.ques .num {
  font-size: 0;
  width: 90px;
  padding: 127px 0 28px;
  display: block;
  margin: 0 auto;
}
.balanceGame .balance p {
  font-weight: 600;
  line-height: 1.2;
  font-size: 3.4rem;
}
.balanceGame .balance p strong {
  font-size: 4.2rem;
  display: block;
  font-weight: 700;
}
.balanceGame .balance p span {
  font-size: 2.8rem;
  font-weight: 400;
}
.balanceGame .balance.ques h1 {
  display: block;
  margin: 0 auto 40px;
  font-size: 4.2rem;
  text-align: center;
  line-height: 1.2;
}
.balanceGame .balance.ques .qwBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.balanceGame .balance.ques .qwBtn::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 87px;
  background: url(../images/vs.png) no-repeat center center / cover;
}
.balanceGame .balance.ques .qwBtn a {
  padding-top: 63px;
  padding-inline: 110px;
  text-align: center;
  display: block;
  background: url(../images/default_ball.png) no-repeat center center / cover;
  width: 549px;
  height: 250px;
}
.balanceGame .balance.ques.ques02 .qwBtn a {
  padding-top: 63px;
  padding-inline: 82px;
}
.balanceGame .balance.ques.ques03 .qwBtn a {
  padding-top: 76px;
  padding-inline: 88px;
}
.balanceGame .balance.ques .qwBtn a.active {
  background: url(../images/active_ball.png) no-repeat center center / cover;
}
.balanceGame .balance.ques .stepBtn_A,
.balanceGame .balance.Gacha .stepBtn_A {
  width: 295px;
  display: block;
  margin: 56px auto;
  text-align: center;
}
.balanceGame .balance.ques04 .txtBox {
  text-align: center;
  font-family: "Paperozi";
  position: relative;
  display: inline-block;
  width: 100%;
}
.balanceGame .balance.ques04 .txtBox textarea {
  font-family: "Paperozi";
  background: url(../images/step4_txtAr.png) no-repeat center center / cover;
  width: 549px;
  height: 517px;
  margin: 0 auto;
  border: none;
  outline: none;
  font-size: 29px;
  padding: 66px 60px 0 60px;
  display: block;
}
.balanceGame .balance.ques04 .txtBox textarea::placeholder {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3;
}
.balanceGame .balance.ques04 .txtBox .char-count {
  position: absolute;
  bottom: 40px;
  right: 80px;
  font-family: "Paperozi";
  font-size: 20px;
  color: #666;
  font-weight: 400;
}
.balanceGame .complete {
  position: relative;
  padding-inline: 40px;
}
.balanceGame .complete .pop,
.balanceGame .early .pop {
  text-align: center;
  width: 559px;
  height: 670px;
  background: url(../images/comple_bg.png) no-repeat center center / contain;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  padding-inline: 121px;
  padding-top: 97px;
}
.balanceGame .early .pop {
  padding-top: 200px;
  padding-inline: 100px;
}
.balanceGame .complete .pop h1 {
  margin: 0 auto;
  font-size: 4rem;
  line-height: 1.2;
}
.balanceGame .complete .pop h2 {
  font-size: 2.5rem;
  color: #f41b4e;
  font-weight: 500;
  padding: 25px 0 42px;
}
.balanceGame .complete .pop .compleBtn {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.balanceGame .early .pop p {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
}
.balanceGame .early .pop p:nth-of-type(2) {
  margin-top: 4rem;
}

/* 개인정보 수집 관련 */

.balanceGame .Privacy h1 {
  text-align: center;
  font-size: 2.9rem;
  font-weight: 800;
  padding-top: 12.7rem;
}

.regForm {
  padding: 2rem 5.2rem 0;
  font-family: "Paperozi";
}

.regForm label {
  font-weight: 600;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
}

.regForm .rows-itm:nth-of-type(1) {
  margin: 0;
}
.regForm .rows-itm {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 2.6rem;
}

.regForm .rows-itm.mt-0 {
  margin-top: 0;
}

.regForm .rows-itm .alert {
  font-size: 1.3rem;
  padding: 2rem;
}

.regForm .rows-itm .alert li {
  margin-bottom: 1rem;
}

.regForm .rows-itm .form-hd {
  font-size: 2.6rem;
  color: #111;
  font-weight: 700;
  line-height: 1.43;
}

.regForm .rows-itm .form-hd .red {
  color: red;
}

.regForm .rows-itm .form-bd {
  display: flex;
}

.regForm .rows-itm .form-bd .inp {
  width: 100%;
  border: #b2b2b2 2px solid;
  border-radius: 1rem;
  height: 6.5rem;
  line-height: 5rem;
  padding: 0 2rem;
  font-family: "Paperozi";
  font-weight: 500;
  font-size: 2.4rem;
}

.regForm .rows-itm .form-bd.addr {
  flex-direction: column;
}

.regForm .rows-itm .form-bd.addr > .inp {
  margin-top: 0.5rem;
}

.regForm .rows-itm .form-bd.addr .addr-sms {
  display: flex;
}

.regForm .rows-itm .form-bd.addr .addr-sms .inp {
  width: 15rem;
}

.regForm .rows-itm .form-bd.addr .addr-sms .bt-addr {
  margin-left: 1rem;
  background-color: #3d404b;
  color: #fff;
  border-radius: 0.8rem;
  width: 8rem;
  height: 5rem;
  line-height: 5rem;
}

.regForm .rows-itm .form-bd textarea {
  width: 100%;
  height: 15rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  border-radius: 12px;
  margin-top: 2rem;
  padding: 2rem;
}

.regForm .desc {
  margin-bottom: 10px;
}

.regForm .rows-itm .form-bd.toggle {
  display: block;
  margin-top: 1rem;
}

.regForm .info_gray_box {
  background: #f5f5f5;
  padding: 1.6rem;
  margin: 3rem 0 0;
  border-radius: 0.6rem;
}
.regForm .info_gray_box.scroll {
  height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
}

.regForm .info_gray_box h3 {
  margin: 2.4rem 0 0.6rem;
}

.regForm .info_gray_box h3 span {
  font-size: 1rem;
  vertical-align: middle;
}

.regForm .info_gray_box h3:first-child {
  margin-top: 0;
}

.regForm .info_gray_box ul li {
  padding-left: 10px;
  position: relative;
}

.regForm .info_gray_box ul li::before {
  content: "·";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.regForm .rows-itm .form-bd.idnum {
  gap: 1rem;
}

.regForm .rows-itm .form-bd.idnum .hyphen {
  display: inline-flex;
  align-items: center;
}

.regForm .info_txt_list {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ff4a4e;
  line-height: 1.5;
  padding: 1rem 1rem 1rem 0;
}

.regForm .info_txt_list li {
  padding-left: 1rem;
  position: relative;
}

.regForm .info_txt_list li::before {
  content: "*";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.select-type {
  z-index: 10;
  position: relative;
  letter-spacing: -0.05em;
}

.select-type:before {
  position: absolute;
  top: 50%;
  right: 20px;
  content: " ";
  width: 17px;
  height: 10px;
  margin-top: -5px;
  background: url(../images/pri_arr.png) no-repeat center / contain;
  pointer-events: none;
  transition: all 0.3s;
}

.select-type.active:before {
  transform: rotate(180deg);
}

.select-type .bt {
  font-family: "Paperozi";
  font-size: 2.4rem;
  font-weight: 500;
  width: 100%;
  color: #7b7b7b;
  line-height: 48px;
  height: 6.5rem;
  min-width: 10rem;
  border: 1px solid #80838e;
  border-radius: 0.8rem;
  padding: 0 20px;
  white-space: nowrap;
  text-align: left;
}

.select-type > ul {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100%;
  border: 1px solid #80838e;
  border-radius: 0px 0px 0.8rem 0.8rem;
  background-color: rgb(255, 255, 255);
  display: none;
}

.select-type > ul > li {
  border-top: 1px solid #ddd;
}

.select-type > ul > li a {
  font-size: 2.4rem;
  display: block;
  line-height: 50px;
  color: #333;
  padding: 0px 20px;
}

.select-type.active .bt {
  border-color: rgb(17, 17, 17);
  color: rgb(0, 0, 0);
  border-radius: 0.8rem 0.8rem 0px 0px;
  background-color: #fff;
  font-family: "Paperozi";
  font-size: 2.4rem;
  font-weight: 500;
  width: 100%;
  color: #7b7b7b;
}

.select-type.active > ul {
  border: 2px solid #b2b2b2;
  border-top: none;
}

.select-type.block {
  width: 100%;
  display: block;
}

.select-type.block .bt {
  width: 100%;
}

.select-type.select button {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #b2b2b2 !important;
  background-color: #fff;
}

#myInfo {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: url(../images/blt_chk.png) no-repeat center / contain;
  cursor: pointer;
  margin-right: 8px;
}

#myInfo:checked {
  background: url(../images/blt_chk_active.png) no-repeat center / contain;
}
.balanceGame .balance.Privacy .noti {
  text-align: center;
  font-size: 2.7rem;
  margin: 4.6rem 0 5.8rem;
}
.balanceGame .balance.Privacy .noti dl {
  margin-bottom: 2.8rem;
  line-height: 1.2;
}
.balanceGame .balance.Privacy .noti dl:nth-last-of-type(1) {
  margin: 0;
}
.balanceGame .balance.Privacy .noti dl dt {
  font-weight: 600;
}
.balanceGame .balance.Privacy .noti dl dd {
  font-weight: 500;
}
.balanceGame .balance.Privacy a.step6Btn {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  width: 368px;
  margin: 0 auto;
}
/* 경품뽑기 */
.balanceGame .balance .clawMachine {
  position: relative;
  background: url(../images/ClawMachine.png) no-repeat center center / contain;
  margin: 145px auto 0;
  width: 560px;
  height: 685px;
}
.balanceGame .balance .clawMachine::after {
  content: "";
  display: block;
  background: url(../images/claw_frame.png) no-repeat center center / contain;
  width: 562px;
  height: 723px;
  position: absolute;
  left: 0;
  top: -19px;
  z-index: 5;
}
.balanceGame .balance .clawMachine .claw {
  position: absolute;
  left: 50px;
  top: 80.56px;
  width: 124px;
  animation: mv01 3s linear infinite both;
}
.balanceGame .balance .clawMachine .star {
  z-index: 9;
}
.balanceGame .balance .clawMachine .star01 {
  width: 21px;
  position: absolute;
  left: 82px;
  top: 302px;
  animation: twinkle 2.5s 0s infinite both;
}
.balanceGame .balance .clawMachine .star02 {
  width: 31px;
  position: absolute;
  left: 113px;
  top: 389px;
  animation: twinkle 2.5s 0.5s infinite both;
}
.balanceGame .balance .clawMachine .star03 {
  width: 21px;
  position: absolute;
  right: 169px;
  top: 381px;
  animation: twinkle 2.5s 1s infinite both;
}
.balanceGame .balance .clawMachine .star04 {
  width: 31px;
  position: absolute;
  right: 96px;
  top: 327px;
  animation: twinkle 2.5s 1.5s infinite both;
}
.balanceGame .balance .clawMachine .star05 {
  width: 21px;
  position: absolute;
  right: 51px;
  top: 371px;
  animation: twinkle 2.5s 2s infinite both;
}
.balanceGame .balance .clawMachine .toys {
  position: static;
}
.balanceGame .balance .clawMachine .toy {
  position: absolute;
  bottom: 0;
  animation: mv02 1.5s 0.5s infinite both;
}
.balanceGame .balance .clawMachine .compose {
  left: 12px;
  width: 124px;
  z-index: 4;
}
.balanceGame .balance .clawMachine .daiso {
  width: 188px;
  left: 31px;
  bottom: 149px;
  z-index: 3;
}
.balanceGame .balance .clawMachine .olive {
  width: 187px;
  left: 173px;
  bottom: 149px;
  z-index: 2;
}
.balanceGame .balance .clawMachine .gs {
  width: 187px;
  right: 37px;
  bottom: 137px;
  z-index: 1;
}
.balanceGame .balance .clawMachine .hotel {
  width: 274px;
  left: 99px;
  bottom: 0px;
  z-index: 4;
}
.balanceGame .balance .clawMachine .papa {
  width: 211px;
  right: 12px;
  bottom: 0px;
  z-index: 3;
}
@keyframes mv01 {
  0% {
    transform: translateX(323px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(323px);
  }
}
@keyframes mv02 {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 경품 */
.balanceGame .balance.prize {
  text-align: center;
}
.balanceGame .balance.prize .thumb {
  width: 378px;
  height: 361px;
  margin: 0 auto 25px;
}
.balanceGame .balance.prize .thumb.compose {
  background: url(../images/prize_thumb_compose.png) no-repeat center center /
    cover;
}
.balanceGame .balance.prize h2 {
  width: 153px;
  margin: 0 auto;
  padding: 127px 0 15px;
}
.balanceGame .balance.prize h3 {
  width: 134px;
  margin: 40px auto 20px;
}
.balanceGame .balance.prize .btnGroup {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 44px;
}
.balanceGame .balance.prize .btnGroup a {
  width: 254px;
}
@media (max-width: 640px) {
  .balanceGame .early .pop p:nth-of-type(2) {
    margin-top: 6.25vw;
  }
  .balanceGame .main .main_balance {
    background: url(../images/balance_bg.jpg) no-repeat center center / contain;
    height: 171.875vw;
  }
  .balanceGame .balance {
    height: 171.875vw;
    /* height: 100dvh; */
  }
  .balanceGame .balance::before {
    width: 88.75vw;
    height: 19.0625vw;
  }
  .balanceGame .balance::after {
    width: 100vw;
    height: 19.6875vw;
  }
  .balanceGame .main .main_balance h1 {
    width: 48.75vw;
    padding: 8.5938vw 0 4.2188vw;
  }
  .balanceGame .main .main_balance h2 {
    width: 86.875vw;
  }
  .balanceGame .main .main_balance a {
    width: 46.09375vw;
    margin: 4.6875vw auto;
  }
  .balanceGame .event-con > .close {
    width: 6.4063vw;
    height: 6.5625vw;
    top: 3.9063vw;
    right: 3.9063vw;
  }
  .balanceGame .balance.ques .num {
    width: 14.0625vw;
    padding: 19.8438vw 0 4.375vw;
  }
  .balanceGame .balance p {
    font-size: 5.3125vw;
  }
  .balanceGame .balance p strong {
    font-size: 6.5625vw;
  }
  .balanceGame .balance p span {
    font-size: 4.375vw;
  }
  .balanceGame .balance.ques h1 {
    margin: 0 auto 6.25vw;
    text-align: center;
    line-height: 1.2;
    font-size: 6.5625vw;
  }
  .balanceGame .balance.ques .qwBtn {
    gap: 2.6563vw;
  }
  .balanceGame .balance.ques .qwBtn::after {
    width: 15.7813vw;
    height: 13.5938vw;
  }
  .balanceGame .balance.ques .qwBtn a {
    width: 85.7813vw;
    height: 39.0625vw;
  }
  .balanceGame .balance.ques.ques02 .qwBtn a {
    padding-top: 9.8438vw;
    padding-inline: 11.625vw;
  }
  .balanceGame .balance.ques.ques03 .qwBtn a {
    padding-top: 11.875vw;
    padding-inline: 13.75vw;
  }
  .balanceGame .balance.ques .stepBtn_A,
  .balanceGame .balance.Gacha .stepBtn_A {
    width: 46.0938vw;
    margin: 8.75vw auto;
  }
  .balanceGame .balance.ques .qwBtn a {
    padding-top: 9.8438vw;
    padding-inline: 18.3125vw;
  }
  .balanceGame .balance.ques04 .txtBox textarea {
    width: 85.7813vw;
    height: 80.7813vw;
  }
  .balanceGame .balance.ques04 .txtBox textarea {
    font-size: 4.5313vw;
    padding: 10.3125vw 9.375vw 0 9.375vw;
  }
  .balanceGame .balance.ques04 .txtBox textarea::placeholder {
    font-size: 4.375vw;
  }
  .balanceGame .balance.ques04 .txtBox .char-count {
    bottom: 6.25vw;
    right: 12.5vw;
    font-size: 3.125vw;
  }
  /* 미완료 팝업 */
  .balanceGame .complete .pop {
    width: 87.3438vw;
    height: 104.6875vw;
    padding-inline: 20.125vw;
    padding-top: 16.625vw;
  }
  .balanceGame .complete .pop h2 {
    padding-top: 3.625vw;
    padding-bottom: 7.5vw;
  }
  .balanceGame .complete .pop .compleBtn {
    flex-direction: column;
    gap: 2.6563vw;
  }
  .balanceGame .complete .pop h1 {
    font-size: 6vw;
  }
  .balanceGame .complete .pop h2 {
    font-size: 3.6875vw;
  }
  /* 개인정보 수집 동의 */
  .balanceGame .Privacy h1 {
    font-size: 4.5313vw;
    padding-top: 19.8438vw;
  }
  .regForm .rows-itm .form-hd {
    font-size: 4.0625vw;
  }
  .regForm label {
    font-size: 3.4375vw;
  }
  .regForm .rows-itm .form-bd .inp {
    border-radius: 1.5625vw;
    height: 10.1563vw;
    line-height: 7.8125vw;
    padding: 0 3.125vw;
    font-size: 3.75vw;
  }
  #myInfo {
    width: 3.5938vw;
    height: 3.5938vw;
    margin-right: 1.25vw;
  }
  .select-type .bt,
  .select-type.active .bt {
    font-size: 3.75vw;
    line-height: 7.5vw;
    height: 10.1563vw;
    min-width: 15.625vw;
    border-radius: 1.25vw;
    padding: 0 3.125vw;
  }
  .select-type > ul {
    top: 8.75vw;
  }
  .select-type > ul > li a {
    font-size: 3.75vw;
    line-height: 7.8125vw;
    padding: 0vw 3.125vw;
  }
  .balanceGame .balance.Privacy .noti dl {
    margin-bottom: 4.375vw;
  }
  .balanceGame .balance.Privacy .noti {
    font-size: 4.2188vw;
    margin: 7.1875vw 0 9.0625vw;
  }
  .balanceGame .balance.Privacy a.step6Btn {
    padding-bottom: 3.125vw;
    width: 57.5vw;
  }
  .balanceGame .balance.Privacy .select-type:before {
    position: absolute;
    top: 50%;
    right: 3.125vw;
    content: "";
    width: 2.6563vw;
    height: 1.5625vw;
    margin-top: -0.7813vw;
    background: url(../images/pri_arr.png) no-repeat center / contain;
    pointer-events: none;
    transition: all 0.3s;
  }
  .balanceGame .early .pop {
    width: 87.3438vw;
    height: 104.6875vw;
    padding-top: 31.25vw;
    padding-inline: 15.625vw;
  }
  .balanceGame .early .pop p {
    font-size: 4.6875vw;
  }
  /* 경품뽑기 */
  .balanceGame .balance .clawMachine {
    background: url(../images/ClawMachine.png) no-repeat center center / contain;
    margin: 22.8125vw auto 0;
    width: 87.5vw;
    height: 107.1875vw;
  }
  .balanceGame .balance .clawMachine::after {
    background: url(../images/claw_frame.png) no-repeat center center / contain;
    width: 87.8125vw;
    height: 113.0469vw;

    left: 0;
    top: -2.9688vw;
  }
  .balanceGame .balance .clawMachine .claw {
    left: 7.8125vw;
    top: 12.5875vw;
    width: 19.4531vw;
    animation: mv01 3s linear infinite both;
  }

  .balanceGame .balance .clawMachine .star01 {
    width: 3.3125vw;

    left: 12.8437vw;
    top: 47.3125vw;
    animation: twinkle 2.5s 0s infinite both;
  }
  .balanceGame .balance .clawMachine .star02 {
    width: 4.8594vw;

    left: 17.7188vw;
    top: 60.9219vw;
    animation: twinkle 2.5s 0.5s infinite both;
  }
  .balanceGame .balance .clawMachine .star03 {
    width: 3.3125vw;

    right: 26.4531vw;
    top: 59.6094vw;
    animation: twinkle 2.5s 1s infinite both;
  }
  .balanceGame .balance .clawMachine .star04 {
    width: 4.8594vw;

    right: 15.0391vw;
    top: 51.2188vw;
    animation: twinkle 2.5s 1.5s infinite both;
  }
  .balanceGame .balance .clawMachine .star05 {
    width: 3.3125vw;
    right: 7.9688vw;
    top: 57.9688vw;
    animation: twinkle 2.5s 2s infinite both;
  }
  .balanceGame .balance .clawMachine .compose {
    left: 1.9375vw;
    width: 19.4531vw;
  }
  .balanceGame .balance .clawMachine .daiso {
    width: 29.375vw;
    left: 4.8594vw;
    bottom: 23.3438vw;
  }
  .balanceGame .balance .clawMachine .olive {
    width: 29.2188vw;
    left: 27.0313vw;
    bottom: 23.3438vw;
  }
  .balanceGame .balance .clawMachine .gs {
    width: 29.2188vw;
    right: 5.8281vw;
    bottom: 21.4844vw;
  }
  .balanceGame .balance .clawMachine .hotel {
    width: 42.8125vw;
    left: 15.5938vw;
    bottom: 0vw;
  }
  .balanceGame .balance .clawMachine .papa {
    width: 33.0469vw;
    right: 1.9375vw;
    bottom: 0vw;
  }
  @keyframes mv01 {
    0% {
      transform: translateX(50.5781vw);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50.5781vw);
    }
  }

  /* 경품 */
  .balanceGame .balance.prize .thumb {
    width: 59.0625vw;
    height: 56.4063vw;
    margin: 0 auto 3.9063vw;
  }
  .balanceGame .balance.prize h2 {
    width: 23.9063vw;
    padding: 19.8438vw 0 2.3438vw;
  }
  .balanceGame .balance.prize h3 {
    width: 20.9375vw;
    margin: 6.25vw auto 3.125vw;
  }
  .balanceGame .balance.prize .btnGroup {
    gap: 3.125vw;
    margin-top: 6.875vw;
  }
  .balanceGame .balance.prize .btnGroup a {
    width: 39.6875vw;
  }
}

@media (max-width: 450px) {
  html {
    height: 100dvh;
    overflow: hidden;
  }
  body {
    height: 100dvh;
    overflow: hidden;
  }
  #app {
    height: 100dvh;
    overflow: hidden;
  }
  .ptevent {
    height: 100dvh;
    overflow: hidden;
  }
  .balanceGame .balance {
    height: 100dvh;
    overflow: hidden;
  }
}
