<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halloween</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap"
    rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
  <script src="js/splitting.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script defer src="js/script.js"></script>

</head>

<body>
  <div class="wrap">
    <header>
      <nav>
        <h1><a href="javascript:();">B.hak</a></h1>
        <ul>
          <li><a href="javascript:();">Happy</a></li>
          <li><a href="javascript:();">Halloween</a></li>
          <li><a href="javascript:();">Welcome</a></li>
          <li><a href="javascript:();">Tonight party</a></li>
          <li><a href="javascript:();">Trick or Treat</a></li>
        </ul>
        <a href="javascript:();" class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <!-- search -->
        <div class="searchBox">
          <h2>Trick or Treat</h2>
          <form action="">
            <input type="text" name="" placeholder="search">
          </form>
        </div>
        <!--// search -->
      </nav>
    </header>
    <div class="visual">
      <div class="swiper mySwiper01">
        <div class="swiper-wrapper">
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
        </div>

        <div class="progress">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="pro_counter">
            <span class="current">1</span>
            <div class="autoplay-progress">
              <div class="bar"></div>
            </div>
            <span class="total">9</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="cont01">
        <h2 data-aos="fade-up">Halloween Movie</h2>
        <div class="cont01_list">
          <div data-aos="fade-up" data-aos-delay="300">
            <picture>
              <img src="images/movie01.jpg" alt="">
            </picture>
            <p>
              This article is about the horror franchise. For the first film from 2000, see Final Destination (film). For the fourth film from 2009, see The Final Destination. For other uses, see Final Destination (disambiguation).
            </p>
          </div>
          <div data-aos="fade-up" data-aos-delay="500">
            <picture>
              <img src="images/movie02.jpg" alt="">
            </picture>
            <p>
              28 Weeks Later is a 2007 post-apocalyptic horror film directed by Juan Carlos Fresnadillo, who co-wrote it with Rowan Joffé, Enrique López Lavigne and Jesus Olmo. It is the sequel to 28 Days Later (2002) and the second film in the 28 Days Later series.
            </p>
          </div>
          <div data-aos="fade-up" data-aos-delay="700">
            <picture>
              <img src="images/movie03.jpg" alt="">
            </picture>
            <p>
              It (also known as Stephen King's IT) is a 1990 ABC two-part psychological horror drama[1] miniseries directed by Tommy Lee Wallace and adapted by Lawrence D. Cohen from Stephen King's 1986 novel of the same name. 
            </p>
          </div>
          <div data-aos="fade-up" data-aos-delay="300">
            <picture>
              <img src="images/movie04.jpg" alt="">
            </picture>
            <p>
              Friday the 13th is an American horror media franchise that comprises twelve slasher films, a television series, novels, comic books, video games, and tie‑in merchandise. The franchise primarily focuses on the fictional character Jason Voorhees, who was thought to have drowned as a boy at Camp Crystal Lake due to the negligence of the camp staff.
            </p>
          </div>
          <div data-aos="fade-up" data-aos-delay="500">
            <picture>
              <img src="images/movie05.jpg" alt="">
            </picture>
            <p>
              The Conjuring is a 2013 American supernatural horror film directed by James Wan and written by Chad Hayes and Carey W. Hayes. It is the inaugural film in The Conjuring Universe franchise.[4] Patrick Wilson and Vera Farmiga star as Ed and Lorraine Warren, paranormal investigators and authors associated with prominent cases of haunting.
            </p>
          </div>
        </div>
      </div>
      <div class="cont02">
        <p class="aniamte" data-aos="trigger" data-splitting="">
          We deliver <br>
          future-ready solutions and<br>
          impactful innovations worldwide
        </p>
        <a class="btn01" href="javascript:();">
          <span>About us</span>
        </a>
      </div>
      <div class="cont03">
        <div class="videoWrap">
          <video autoplay="" muted="" loop="" playinline="">
            <source src="images/video2.mp4" type="video/mp4">
          </video>
        </div>
        <div class="title en">
          <h2>
            Happy Halloween <br> create your own story.
          </h2>
        </div>
      </div>
      <div class="cont04">
        <div class="inner">
          <h2 data-aos="fade-up">Halloween Picture</h2>
          <ul>
            <li data-aos="fade-up" data-aos-delay="400">
              <img src="images/cont04_1.jpg" alt="">
            </li>
            <li data-aos="fade-up" data-aos-delay="600">
              <img src="images/cont04_2.jpg" alt="">
            </li>
            <li data-aos="fade-up" data-aos-delay="800">
              <img src="images/cont04_3.jpg" alt="">
            </li>
            <li data-aos="fade-up" data-aos-delay="1000">
              <img src="images/cont04_4.jpg" alt="">
            </li>
            <li data-aos="fade-up" data-aos-delay="1200">
              <img src="images/cont04_5.jpg" alt="">
            </li>
            <li data-aos="fade-up" data-aos-delay="1400">
              <img src="images/cont04_6.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="cont05">
        <div class="inner">
          <h2 data-aos="fade-up">Review</h2>
          <div class="swiper01">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites 
              </div>
              <div class="swiper-slide">
                are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All 
              </div>
              <div class="swiper-slide">
                 Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model 
              </div>
              <div class="swiper-slide">
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaini
              </div>
              <div class="swiper-slide">
                hunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 tra
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="inner">
        <h1>B.hak</h1>
        <div class="lrGroup">
          <div class="leftFoot">
            name : LeeBeomHak | mbti: ESFJ | hobby | Sing & guitar | religion : Catholic <br>
            e-mail : qjagkrdldi@gmail.com | h.p : 01026289730
            <p>© 2025 LEEBEOMHAK. ALL RIGHTS RESERVED.</p>
          </div>
          <div class="rightFoot">
            <ul>
              <li><a href="javascript:();">Youtube</a></li>
              <li><a href="javascript:();">Instagram</a></li>
              <li><a href="javascript:();">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="dim"></div>
  </div>
  <script>
    var swiper = new Swiper('.swiper01', {
      spaceBetween: 30,
      slidesPerView: '4',
      loop: false,
      loopAdditionalSlides: 1,
      autoHeight: false,

       breakpoints: {
    320: {
      slidesPerView: 2,
      spaceBetween: 20
    },
    
    1024: {
      slidesPerView: 4,
      spaceBetween: 50
    }
  }
    });
  </script>
</body>

</html>