html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  color: #000;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* header */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow-x: hidden;
}
.wrap {
  position: relative;
  font-family: "Mountains of Christmas", serif;
}
.dim {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  &&.on {
    display: block;
  }
}
header {
  padding: 50px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  background-color: transparent;
  z-index: 2;
  border-radius: 0 0 15px 15px;
}
header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    .searchBox {
      background-color: #000;
      h2{
        color:rgb(220, 92, 12);
      }
      text-align: center;
      font-family: "Mountains of Christmas", serif;
      font-size: 30px;
      padding: 50px;
      border-radius: 0 0 15px 15px;
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      input {
        background-color: #000;
        margin-top: 20px;
        font-size: 20px;
        width: 50%;
        padding: 20px;
        border-radius: 50px;
        border: 2px solid rgb(220, 92, 12);
        color:rgb(220, 92, 12);
        outline: none;
      }
      &&.on {
        display: block;
      }
    }
    h1 a {
      color: #fff;
      font-size: 30px;
    }

    ul {
      display: flex;
      gap: 50px;
      transition: 0.3s;
      &&:hover {
        gap: 60px;
      }
      li a {
        font-family: "Mountains of Christmas", serif;
        color: #fff;
        padding: 10px;
        transition: 0.5s;
        background: linear-gradient(rgb(220, 92, 12), rgb(220, 92, 12))
          no-repeat bottom/0 2px;
      }
    }
  }
}
header.fixed h1 a {
  color: rgb(220, 92, 12);
}
header.fixed nav ul li a {
  color: rgb(220, 92, 12);
}
header ul li a:hover,
header ul li a:focus {
  background-size: 100% 2px;
}
header .search {
  color: #fff;
}
header.fixed .search {
  color: rgb(220, 92, 12);
}

/* visual */
/* ✅ Progress Bar 스타일 */
.visual {
  height: 100vh;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
}
.progress {
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100px;
  padding: 10px;
  z-index: 99999;
  border-radius: 10px;
}
.progress .swiper-button-prev {
  left: 105%;
  color: #fff;
}
.progress .swiper-button-prev:after {
  font-size: 20px;
}
.progress .swiper-button-next {
  left: 140%;
  color: #fff;
}
.progress .swiper-button-next:after {
  font-size: 20px;
}
.progress .current {
  color: rgb(220, 92, 12);
  font-size: 25px;
}
.autoplay-progress {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  z-index: 10;
}
.pro_counter {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.autoplay-progress .bar {
  width: 0%;
  height: 100%;
  background: rgb(220, 92, 12);
  transition: width 0.1s linear;
}
.autoplay-progress .counter {
  display: flex;
  padding: 6px 0;
  color: #000;
  letter-spacing: 1px;
}
.pro_counter .total {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.visual .swiper-slide {
  height: 100vh;
}
.visual .swiper-slide:nth-child(1) {
  background: url(images/hello01.jpg) no-repeat center center / cover;
}
.visual .swiper-slide:nth-child(2) {
  background: url(images/hello02.jpg) no-repeat center center/ cover;
}
.visual .swiper-slide:nth-child(3) {
  background: url(images/hello03.jpg) no-repeat center center/ cover;
}
.visual .swiper-slide:nth-child(4) {
  background: url(images/hello04.jpg) no-repeat center center/ cover;
}
/* container */
/* cont01 */
.container h2 {
  padding-top: 10%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
  font-weight: 600;
  color:rgb(220, 92, 12);
}
.container p {
  color:rgb(220, 92, 12);
  line-height: 1.8;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cont01 {
  padding: 0 5% 10% 5%;
  background-color: #000;
  text-align: center;
}
.cont01_list {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 0 10px;
  row-gap: 65px;
}
.cont01_list picture {
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.cont01_list picture img {
  width: 100%;
  transform: scale(1.2);
  transition: 0.5s;
}
.cont01_list picture:hover img {
  transform: scale(1.5);
}
.cont01_list > div {
  overflow: hidden;
  box-sizing: border-box;
  width: calc((100% - 20px) / 3);
  cursor: pointer;
}
.cont01_list > div:nth-child(4),
.cont01_list > div:nth-child(5) {
  width: 50%;
  width: calc((100% - 10px) / 2);
}

.cont02 {
  padding: 10% 0;
  background-color: #362c59;
  text-align: center;
}
.cont02 > p {
  font-weight: 600;
  font-size: 60px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.cont02 .btn01 {
  color:#fff;
  position: relative;
  border: 2px solid rgb(220, 92, 12);
  border-radius: 30px;
  padding: 15px 25px;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.cont02 .btn01 span {
  z-index: 1;
}
.cont02 .btn01:hover::after {
  transform: translateY(0);
  z-index: -1;
}
.cont02 .btn01:after {
  content: "";
  width: 140%;
  height: 140%;
  border-radius: 50%;
  background-color: rgb(234, 114, 9);
  position: absolute;
  top: -20%;
  left: -20%;
  transform: translateY(60px);
  transition: 0.5s;
  z-index: -1;
}

@keyframes text01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cont02 p.aos-animate .char {
  display: inline-block;
  animation: text01 1s cubic-bezier(0.1, 0, 0.1, 1) both;
  animation-delay: calc(20ms * var(--char-index));
}
.cont03 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.cont03 .videoWrap video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.cont03 .title {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.cont03 .title h2 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
}
.cont04 {
  .inner {
    padding: 0 5%;
    ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    li {
      background-color:#362c59;
      width:31.33%;
      border-radius: 30px;
      overflow: hidden;
      &&:hover img {
        transform: scale(1.5);
      }
      img {
        transition: .5s;
        width:100%;
        transform: scale(1.2);
      }
    }
  }
  }
  background-color: #000;
  padding-bottom: 100px;
  
}
.cont05 {
  background-color: #362c59;
  text-align: center;
  .inner {
    padding: 30px 30px 80px;
  }
  .swiper01 {
    .swiper-slide {
      .star {
        margin-bottom: 6%;
      }
      border-radius: 40px;
      min-height: 25vw;
      color: rgb(220, 92, 12);
      line-height: 1.8;
    }
  }
}

/* footer */
footer {
  background-color: #000;
  color: #fff;
  .inner {
    padding: 70px 150px;
    h1 {
      cursor: pointer;
      font-size: 30px;
      padding-bottom: 30px;
    }
    .lrGroup {
      display: flex;
      justify-content: space-between;
      align-items: end;
      .leftFoot {
        line-height: 1.5;
        font-size: 15px;
        p {
          padding-top: 50px;
          font-size: 13px;
          color: #737373;
        }
      }
      .rightFoot {
        ul {
          display: flex;
          gap: 30px;
          li {
            transition: .2s;
            a {
              color: #fff;
              font-size: 15px;
            }
            &:hover {
              transform: translateX(-1vw);
              }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header nav {
    ul {
      display: none;
    }
    .searchBox {
      input {
        width: 80%;
      }
    }
  }
  .cont01_list {
    flex-wrap: wrap;
    div {
      width: calc((100% - 10px) / 2);
      &:nth-child(5){
        width:100%;
      }
    }
  }
  .cont02 > p {
    font-size: 50px;
  }
  .cont04 {
    ul {
      gap:3.1250vw;
      li {
        min-width: 230px;
        min-height: 230px;
      }
    }
  }

  footer {
    & .inner {
      .lrGroup {
        display: block;
        .leftFoot {
          p {
            padding-top: 27px;
            margin-bottom: 27px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  header{
    padding:5.8125vw;
    nav {
      h1 a{font-size: 4.6875vw;}
    ul {
      display: none;
    }
    .searchBox {
      font-size: 4.6875vw;
      padding: 7.8125vw;
      input {
        font-size: 3.125vw;
        margin-top: 3.125vw;
        padding: 3.125vw;
        border-radius: 5vw;
      }
    }
  }
  } 
  .visual {
    .progress {
      display: none;
    }
   .swiper-slide:nth-child(1) {
  background: url(images/m_01.jpg) no-repeat center center / cover;
}
.swiper-slide:nth-child(2) {
  background: url(images/m_02.jpg) no-repeat center center/ cover;
}
.swiper-slide:nth-child(3) {
  background: url(images/m_03.jpg) no-repeat center center/ cover;
}
.swiper-slide:nth-child(4) {
  background: url(images/m_04.jpg) no-repeat center center/ cover;
}
  }
  .container{
    h2 {
      font-size: 7.8125vw;
      margin-bottom: 9.3750vw;
    }
  .cont02 {
& > p {
    font-size: 5.8125vw;
    margin-bottom: 3.1250vw;
  }
  .btn01 {
    padding:2.3438vw 3.9063vw;
    span {
      font-size: 4vw;
    }
    &::after {
      display: none;
    }
  }
  } 
  .cont03 {
    .title h2{
      font-size: 10vw;
    }
  }
  .cont04 {
    .inner { padding:0;
      ul {
      gap:3.1250vw ;
      li {
        min-width: 28vw;
        min-height: 28vw;
      }
    }
    }
    padding-bottom: 15.6250vw;
    
  }
  .cont05 {
    .inner {
      padding: 4.6875vw 4.6875vw 12.5vw;
      .swiper01 {
        .swiper-slide {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

    }
}
  }
  
  footer {
    .inner {
      padding: 6.6875vw;
      h1 {
        font-size: 4.6875vw;
        padding-bottom: 4.6875vw;
      }
      .leftFoot {
        font-size: 2.3438vw !important;
        p {
          font-size: 2.0313vw !important;
        }
      }
      .rightFoot {
        ul {
          gap: 4.6875vw;
          li {
            a {
              font-size: 2.3438vw !important;
              
            }
          }
        }
      }
    }
  }
}
